.border-radius-1 {
  @include border-radius(1px);
  @include animateEaseIn(0.2s);
}
.gradient-1 {
  @include gradient(#fff, #000);
}

  
.g-recaptcha {
  @media (max-width: 480px) {
    transform:scale(0.77);
    -webkit-transform:scale(0.77);
    transform-origin:0 0;
    -webkit-transform-origin:0 0;
  }
}

.feature-section {
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;

  @include media_min(lg){
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .scene {
    position: absolute;
    right: 0;
    top: 30%;
    display: none;

    @include media_min(lg){
      display: block;
      max-width: 1200px;
      height: 800px;
    }
  }

  .feature-items {
    padding-top: 0;
    padding-bottom: 0;

    @include media_min(lg){
      padding-top: 25px;
      padding-bottom: 25px;
    }

    @include media_min(xl){
      padding-top: 250px;
      padding-bottom: 250px;
    }

    .col-12 {

      &:nth-child(1) {

        .feature-item {
          animation-delay: 0.05s;
        }

      }

      &:nth-child(2) {

        .feature-item {
          animation-delay: 0.15s;
        }

      }

      &:nth-child(3) {

        .feature-item {
          animation-delay: 0.25s;
        }

      }

      &:nth-child(4) {

        .feature-item {
          animation-delay: 0.35s;
        }

      }
    }

    .feature-item {
      padding: 25px;
      text-align: center;
      height: 100%;
      background: #fff;
      color: #000;
      box-shadow: 0px 5px 15px rgba(0, 0, 0, .08);
      @include animateEaseIn(0.2s);
      overflow: hidden;
      position: relative;
      @include media(md){
        padding-bottom: 0;
      }
      @include media_min(lg){
        box-shadow: 0px 5px 15px rgba(0, 0, 0, .25);
      }

      &:before {
        content: '';
        position: absolute;
        z-index: 0;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        opacity: 0;
        visibility: hidden;
        background: #9b23ea;
        background: -moz-linear-gradient(top,  #9b23ea 0%, #5f71bd 100%);
        background: -webkit-linear-gradient(top,  #9b23ea 0%,#5f71bd 100%);
        background: linear-gradient(to bottom,  #9b23ea 0%,#5f71bd 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9b23ea', endColorstr='#5f71bd',GradientType=0 );
        @include animateEaseIn(0.2s);
      }
      &:hover {
        &:before {
          opacity: 1;
          visibility: visible;
        }
      }

      .thumb, h4, p {
        position: relative;
        z-index: 1;
      }

      .thumb {
        display: block;
        width: 110px;
        height: 110px;
        margin: 25px auto;
        padding: 15px;
        position: relative;
        background: #fff;
        opacity: 1;
        @include border-radius(50%);
        @include media(md){
          margin-top: 0;
          margin-bottom: 20px;
          padding-top: 0;
        }
        img,
        svg {
          width: 100%;
          height: 100%;
          position: relative;
          z-index: 3;
          color: #9c2fe9;
          fill: currentColor;
          @include animateEaseIn(0.4s);
        }

        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          z-index: 2;
          width: 100%;
          height: 100%;
          background: #fff;
          @include border-radius(50%);
        }

        &:after {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          z-index: 1;
          width: 100%;
          height: 100%;
          background: url(../img/svg/fround.svg) center no-repeat;
          transform: scale(1.4);
          @include animateEaseIn(0.4s);
        }
      }

      h4 {
        padding: 5px 0 5px;
        font-size: 24px;
        font-weight: 500;
        color: #000;

		@include media(md){
			font-size: 18px;
		}
      }

      p {
        padding: 15px 0;
        font-size: 18px;
        font-weight: 300;
        color: #686868;

		@include media(md){
      padding-top: 5px;
			font-size: 14px;
		}
      }

      &:hover {
        color: #fff;

        .thumb {
          background: transparent;

          &:before {
            opacity: 0;

          }

          &:after {
            left: 100%;
            top: -100%;
            transform: scale(6);
            opacity: .5;
          }

          svg {
            color: rgba(255,255,255,.7);
          }
        }

        h4 {
          color: #fff;
        }

        p {
          color: #fff;
        }
      }

    }
  }
}

.experience-section {
  padding-top: 20px;
  padding-bottom: 20px;

  @include media_min(lg){
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @include media_min(md){
	  .col-12 {
      &:nth-child(1n) {
        transform: translateY(100px);
        animation-delay: 0.05s;

      }

      &:nth-child(2n) {
        transform: translateY(0);
        animation-delay: 0.10s;
      }

      &:nth-child(3n) {
        transform: translateY(-200px);
        animation-delay: 0.15s;
      }
	  }
  }


  @include media(lg){
	  .col-12 {
      &:nth-child(1n) {
        transform: translateY(0);
        animation-delay: 0.05s;

      }

      &:nth-child(2n) {
        transform: translateY(0);
        animation-delay: 0.10s;
      }

      &:nth-child(3n) {
        transform: translateY(0);
        animation-delay: 0.15s;
      }
	  }
  }



  .experience-items {

	  .row {
		  @include media_min(md){
			  justify-content: center;
		  }

		  .experience-item {
			  padding: 20px 40px 20px;
			  background: #fff;
			  color: #000;
			  @include animateEaseIn(0.2s);
			  position: relative;
        @include media(md){
          padding-bottom: 0;
        }
			  @include media_min(lg){
          padding: 100px 70px 100px;
          min-height: 700px;
          height: 100%;
			  }

			  @include media_min(xl){
          padding: 100px 55px 100px;
          min-height: 700px;
          height: 100%;
        }

        @include media(sm){
          padding-left: 20px;
          padding-right: 20px;
        }

			  &:before {
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				z-index: 0;
				width: 100%;
				height: 100%;
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e3eeff+0,f3e7e9+100 */
        background: #e3eeff; /* Old browsers */
        background: -moz-linear-gradient(top,  #e3eeff 0%, #f3e7e9 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  #e3eeff 0%,#f3e7e9 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  #e3eeff 0%,#f3e7e9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3eeff', endColorstr='#f3e7e9',GradientType=0 ); /* IE6-9 */
				opacity: 0;
				overflow: hidden;
				-webkit-transition: background, 2s;
        transition: background, 2s;
          @include media_min(lg){
            background: url(../img/features-bg-1.png) center no-repeat;
            background-size: 100%;
          }
			  }

			  h4 {
				padding: 5px 0 5px;
				font-size: 28px;
				font-weight: 300;
				position: relative;
				z-index: 1;

				@include media(md){
					font-size: 18px;
				}

				strong {
				  font-weight: 500;
				  text-transform: uppercase;
				}
			  }

			  p {
				padding: 10px 0 20px;
				font-size: 18px;
				line-height: 1.5;
				font-weight: normal;
				color: #827d9e;
				position: relative;
				z-index: 1;

				@include media(md){
					font-size: 14px;
				}

				&.thumb {
				  border: none;
				}
			  }

			  &:hover {

				&:before {
				  opacity: 1;
				  overflow: visible;
				}

			  }

			  @include media(md){
				  text-align: center;
			  }

			}
	  }
  }
}

.integration-section {
  background: url(../img/pos-integration-bg.jpg) right top no-repeat #f7f8fa;
  padding-top: 300px;
  padding-bottom: 50px;

  @include media(md) {
	  background-size: 100%;
	  padding-top: 50px;
  }

  @media (min-width: 1921px){
    background-size: 100%;
    padding-top: 15%;
  }

  .pos-text {
    margin: 75px auto 75px;
    padding: 150px 120px;
    background: url(../img/pos-text-bg.png) center center no-repeat;
    max-width: 462px;
    font-size: 18px;
    line-height: 1.5;
    color: #fff;
    background-size: 100%;

    @include media(lg){
      margin:0 auto;
    }

    @include media(md){
      max-width: 320px;
      padding: 110px 50px;
      font-size: 13px;
      background-size: cover;
    }
    @include media(sm){
      max-width: 312px;
      padding: 100px 65px;
      margin: 0 auto;
      background-size: 100%;
    }
  }

  .pos-logo {
    padding-top: 25px;

	@include media(lg) {
		text-align: center;

		img {
			max-width: 130px;
		}
	}

    a {
      img {
        -webkit-filter: grayscale(1);
        filter: grayscale(1);
        @include animateEaseIn(0.2s);
      }

      &:hover img {
        -webkit-filter: grayscale(0);
        filter: grayscale(0);
      }
    }

    @media (min-width: 768px) {
      padding-top: 25px;
      padding-bottom: 25px;
    }
    @include media_min(md){
      padding-top: 75px;
      padding-bottom: 75px;
    }
  }
}

.client-slider {
  .slick-dots {
    margin: 0 0 0 40px;
    padding: 0;

	@include media(md){
		margin: 15px;
		text-align: center;
	}

    li {
      background: #ecdee8;
      border: 1px solid #b680be;
      width: 12px;
      height: 12px;
      display: inline-block;
      margin-right: 13px;
      overflow: hidden;
      border-radius: 50%;

      button {
        display: none;
        width: 12px;
        height: 12px;
        border: none;
        text-indent: -10000px;
        outline: none;
      }

      &.slick-active {
        background: #b57dbd;
      }
    }
  }
}

.client-section {
  padding-top: 25px;
  padding-bottom: 25px;
  @include gradient(#e3eeff, #f3e7e9);

  @include media_min(md){
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @include media_min(lg){
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .client-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px 0px;

    @include media_min(lg){
      flex-direction: row;
	    margin: 75px 40px;
    }
    @include media(sm){
      margin-bottom: 0px;
    }
  }

  .client-item__desc {
    flex-basis: 100%;
    order: 1;

    @include media_min(md){
      padding-right: 150px;
      flex-basis: 1;
      order: 1;
    }

    h4 {
      margin: 0;
      padding: 0 0 20px;
      font-size: 24px;
      font-weight: 500;
      color: #000;

	  @include media(md){
		  font-size: 16px;
	  }
    }

    p {
      margin: 0;
      padding: 0 0 50px;
      font-size: 24px;
      font-weight: 300;
      color: #5e5a71;

      @include media(md){
      font-size: 16px;
      }

      @include media(sm){
        padding-bottom: 20px;
      }

      &.author {
        padding: 0 0 20px;
        font-size: 14px;
        font-weight: 600;
        color: #9f98c6;

        strong {
          font-size: 16px;
          color: #6445ba;
        }
      }
    }
  }

  .client-item__thumb {
    flex-basis: 100%;
    order: 2;
    position: relative;

	@include media(md){
		margin: 30px;
		flex-basis: auto !important;
  }
  @include media(sm){
    margin: 0;
  }

    img {
      width: 100%;
      -webkit-filter: contrast(120%) saturate(125%);
      filter: contrast(120%) saturate(125%);
    }

    &:before,
    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
    }

    &:before {
      opacity: .4;
      @include gradient(#5f72bd, #9b23ea);
    }

    &:after {
      border: 5px solid #ffffff;
      transform: translate3d(30px, 40px, 0);
      @include media(sm){
        content: none;
      }
    }

    @include media_min(md){
      flex-basis: 550px;
      order: 2;
    }
  }

}

/* Media Max-Width */
@include media(xs) { }
@include media(sm) { }
@include media(md) { }
@include media(lg) { }

/* Media Min-Width */
@include media_min(xs) { }
@include media_min(sm) { }
@include media_min(md) { }
@include media_min(lg) { }





// New home page CSS start
section{
  h3.sub-title{
    font-size: 36px;
    line-height: 1.3;
  }
}
.section-pos{
  .pos-slick{
    padding-bottom:50px;
    position: relative;
    .slick-dots{
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      margin: 0;
      li{
        margin:0 8px;
        button{
          width: 14px;
          height: 14px;
          background: black;
          border: none;         
          border-radius: 100%;
          font-size: 0;
          cursor: pointer;
          padding: 0;
          outline: none;
        }
      
      }
    }
  }
  .pi-list{    
    justify-content: flex-end;
    text-align: center;
    li{
      width:80px;
      .pi-list-thumb{
        width:80px;
        height: 80px;
        border: 3px solid $green;
        box-shadow: 2px 0 9px #cecccc;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .pi-list-title{
        font-size: 16px;
        color: $text-secondary;
        line-height: 1.3;
        margin-top: 15px;
      }
      &+li{
        margin-left: 50px;
      }
    }
  }
}
.clientsay-section{
  margin-top: 110px;
  position: relative;
  .client-slick{
    margin-top: 80px;
    padding-bottom: 30px;
    .client-thumb{
      height: 240px;
      width: 240px;
      border-radius: 100%;
      box-shadow: 0px 0px 90px rgb(184 124 214 / 28%);
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
    }
    .client-slick-right{
      font-size: 18px;
      line-height: 30px;
      color: #8783a2;
      &::before{
        background: url(../img/new-images/quotes-icon.png);
        content: "";
        display: block;
        height: 170px;
        width: 200px;
        background-size: cover;
        opacity: 0.1;
      }
      .client-slick-title{
        font-size: 24px;
        color: #212529;
        font-weight: bold;
        margin: 15px 0;
      }
    }
    .slick-arrow{
      background: transparent;
      border: none;
      font-size: 0;
      outline: none;
      position: absolute;
      right: 41.6%;
      bottom: 0;
      &.slick-prev{
        right: 45.6%;
        transform: rotate(
    -180deg);
      }
      &::before{
        background: url(../img/new-images/right-arrow.png);
        width:23px;
        height: 15px;
        content: "";
        display: block;
      }
    }
    .slick-slide{
      min-height: 380px;
    }
  }
  &:before,&:after{
    background: url(../img/new-images/bg-dot.png);
    content: "";
    height: 170px;
    width: 170px;
    display: block;
    position: absolute;
    right: 70px;
    top:110px;
    background-size: 100% ,contain;
  }
  &:after{
    left: 6%;
    right: auto;
    height: 130px;
    width: 130px;
    top: 40%;
  }
}
// New home page CSS end