// .border-radius-1 {
//   @include border-radius(1px);
//   @include animateEaseIn(0.2s);
// }
// .gradient-1 {
//   @include gradient(#fff, #000);
// }

// .g-recaptcha {
//   @media (max-width: 480px) {
//     transform:scale(0.77);
//     -webkit-transform:scale(0.77);
//     transform-origin:0 0;
//     -webkit-transform-origin:0 0;
//   }
// }

// ================
// used in new HTML
// ================

html{scroll-behavior:smooth}

.feature-section {
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;

  @include media_min(lg) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .scene {
    position: absolute;
    right: 0;
    top: 30%;
    display: none;

    @include media_min(lg) {
      display: block;
      max-width: 1200px;
      height: 800px;
    }
  }

  .feature-items {
    padding-top: 0;
    padding-bottom: 0;

    @include media_min(lg) {
      padding-top: 25px;
      padding-bottom: 25px;
    }

    @include media_min(xl) {
      padding-top: 250px;
      padding-bottom: 250px;
    }

    .col-12 {
      &:nth-child(1) {
        .feature-item {
          animation-delay: 0.05s;
        }
      }

      &:nth-child(2) {
        .feature-item {
          animation-delay: 0.15s;
        }
      }

      &:nth-child(3) {
        .feature-item {
          animation-delay: 0.25s;
        }
      }

      &:nth-child(4) {
        .feature-item {
          animation-delay: 0.35s;
        }
      }
    }

    .feature-item {
      padding: 25px;
      text-align: center;
      height: 100%;
      background: #fff;
      color: #000;
      box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.08);
      @include animateEaseIn(0.2s);
      overflow: hidden;
      position: relative;
      @include media(md) {
        padding-bottom: 0;
        padding: 15px;
      }
      @include media_min(lg) {
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
        padding: 10px;
      }

      &:before {
        content: "";
        position: absolute;
        z-index: 0;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        opacity: 0;
        visibility: hidden;
        background: $orange;
        // background: -moz-linear-gradient(top,  #9b23ea 0%, #5f71bd 100%);
        // background: -webkit-linear-gradient(top,  #9b23ea 0%,#5f71bd 100%);
        // background: linear-gradient(to bottom,  #9b23ea 0%,#5f71bd 100%);
        // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9b23ea', endColorstr='#5f71bd',GradientType=0 );
        @include animateEaseIn(0.2s);
      }
      &:hover {
        &:before {
          opacity: 1;
          visibility: visible;
        }
      }

      .thumb,
      h4,
      p {
        position: relative;
        z-index: 1;
      }

      .thumb {
        display: block;
        width: 110px;
        height: 110px;
        margin: 25px auto;
        padding: 15px;
        position: relative;
        background: #fff;
        opacity: 1;
        @include border-radius(50%);
        @include media(md) {
          margin-top: 0;
          margin-bottom: 20px;
          padding-top: 0;
        }
        img,
        svg {
          width: 100%;
          height: 100%;
          position: relative;
          z-index: 3;
          color: #9c2fe9;
          fill: currentColor;
          @include animateEaseIn(0.4s);
        }

        &:before {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          z-index: 2;
          width: 100%;
          height: 100%;
          background: #fff;
          @include border-radius(50%);
        }

        &:after {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          z-index: 1;
          width: 100%;
          height: 100%;
          background: url(../img/svg/fround.svg) center no-repeat;
          transform: scale(1.4);
          @include animateEaseIn(0.4s);
        }
      }

      h4 {
        padding: 5px 0 5px;
        font-size: 24px;
        font-weight: 500;
        color: $black;

        @include media(lg) {
          font-size: 18px;
        }
      }

      p {
        padding: 15px 0;
        font-size: 16px;
        font-weight: 300;
        // color: #686868;
        color: #8783a2;

        @include media(lg) {
          padding-top: 0px;
          font-size: 14px;
        }
      }

      &:hover {
        color: #fff;

        .thumb {
          background: transparent;

          &:before {
            opacity: 0;
          }

          &:after {
            left: 100%;
            top: -100%;
            transform: scale(8);
            opacity: 0.5;
          }

          svg {
            color: rgba(255, 255, 255, 0.7);
          }
        }

        h4 {
          color: #fff;
        }

        p {
          color: #fff;
        }
      }
    }
  }
}

// .experience-section {
//   padding-top: 20px;
//   padding-bottom: 20px;

//   @include media_min(lg){
//     padding-top: 50px;
//     padding-bottom: 50px;
//   }

//   @include media_min(md){
// 	  .col-12 {
//       &:nth-child(1n) {
//         transform: translateY(100px);
//         animation-delay: 0.05s;

//       }

//       &:nth-child(2n) {
//         transform: translateY(0);
//         animation-delay: 0.10s;
//       }

//       &:nth-child(3n) {
//         transform: translateY(-200px);
//         animation-delay: 0.15s;
//       }
// 	  }
//   }

//   @include media(lg){
// 	  .col-12 {
//       &:nth-child(1n) {
//         transform: translateY(0);
//         animation-delay: 0.05s;

//       }

//       &:nth-child(2n) {
//         transform: translateY(0);
//         animation-delay: 0.10s;
//       }

//       &:nth-child(3n) {
//         transform: translateY(0);
//         animation-delay: 0.15s;
//       }
// 	  }
//   }

//   .experience-items {

// 	  .row {
// 		  @include media_min(md){
// 			  justify-content: center;
// 		  }

// 		  .experience-item {
// 			  padding: 20px 40px 20px;
// 			  background: #fff;
// 			  color: #000;
// 			  @include animateEaseIn(0.2s);
// 			  position: relative;
//         @include media(md){
//           padding-bottom: 0;
//         }
// 			  @include media_min(lg){
//           padding: 100px 70px 100px;
//           min-height: 700px;
//           height: 100%;
// 			  }

// 			  @include media_min(xl){
//           padding: 100px 55px 100px;
//           min-height: 700px;
//           height: 100%;
//         }

//         @include media(sm){
//           padding-left: 20px;
//           padding-right: 20px;
//         }

// 			  &:before {
// 				content: '';
// 				position: absolute;
// 				left: 0;
// 				top: 0;
// 				z-index: 0;
// 				width: 100%;
// 				height: 100%;
//         /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e3eeff+0,f3e7e9+100 */
//         background: #e3eeff; /* Old browsers */
//         background: -moz-linear-gradient(top,  #e3eeff 0%, #f3e7e9 100%); /* FF3.6-15 */
//         background: -webkit-linear-gradient(top,  #e3eeff 0%,#f3e7e9 100%); /* Chrome10-25,Safari5.1-6 */
//         background: linear-gradient(to bottom,  #e3eeff 0%,#f3e7e9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
//         filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3eeff', endColorstr='#f3e7e9',GradientType=0 ); /* IE6-9 */
// 				opacity: 0;
// 				overflow: hidden;
// 				-webkit-transition: background, 2s;
//         transition: background, 2s;
//           @include media_min(lg){
//             background: url(../img/features-bg-1.png) center no-repeat;
//             background-size: 100%;
//           }
// 			  }

// 			  h4 {
// 				padding: 5px 0 5px;
// 				font-size: 28px;
// 				font-weight: 300;
// 				position: relative;
// 				z-index: 1;

// 				@include media(md){
// 					font-size: 18px;
// 				}

// 				strong {
// 				  font-weight: 500;
// 				  text-transform: uppercase;
// 				}
// 			  }

// 			  p {
// 				padding: 10px 0 20px;
// 				font-size: 18px;
// 				line-height: 1.5;
// 				font-weight: normal;
// 				color: #827d9e;
// 				position: relative;
// 				z-index: 1;

// 				@include media(md){
// 					font-size: 14px;
// 				}

// 				&.thumb {
// 				  border: none;
// 				}
// 			  }

// 			  &:hover {

// 				&:before {
// 				  opacity: 1;
// 				  overflow: visible;
// 				}

// 			  }

// 			  @include media(md){
// 				  text-align: center;
// 			  }

// 			}
// 	  }
//   }
// }

// .integration-section {
//   background: url(../img/pos-integration-bg.jpg) right top no-repeat #f7f8fa;
//   padding-top: 300px;
//   padding-bottom: 50px;

//   @include media(md) {
// 	  background-size: 100%;
// 	  padding-top: 50px;
//   }

//   @media (min-width: 1921px){
//     background-size: 100%;
//     padding-top: 15%;
//   }

//   .pos-text {
//     margin: 75px auto 75px;
//     padding: 150px 120px;
//     background: url(../img/pos-text-bg.png) center center no-repeat;
//     max-width: 462px;
//     font-size: 18px;
//     line-height: 1.5;
//     color: #fff;
//     background-size: 100%;

//     @include media(lg){
//       margin:0 auto;
//     }

//     @include media(md){
//       max-width: 320px;
//       padding: 110px 50px;
//       font-size: 13px;
//       background-size: cover;
//     }
//     @include media(sm){
//       max-width: 312px;
//       padding: 100px 65px;
//       margin: 0 auto;
//       background-size: 100%;
//     }
//   }

//   .pos-logo {
//     padding-top: 25px;

// 	@include media(lg) {
// 		text-align: center;

// 		img {
// 			max-width: 130px;
// 		}
// 	}

//     a {
//       img {
//         -webkit-filter: grayscale(1);
//         filter: grayscale(1);
//         @include animateEaseIn(0.2s);
//       }

//       &:hover img {
//         -webkit-filter: grayscale(0);
//         filter: grayscale(0);
//       }
//     }

//     @media (min-width: 768px) {
//       padding-top: 25px;
//       padding-bottom: 25px;
//     }
//     @include media_min(md){
//       padding-top: 75px;
//       padding-bottom: 75px;
//     }
//   }
// }

// .client-slider {
//   .slick-dots {
//     margin: 0 0 0 40px;
//     padding: 0;

// 	@include media(md){
// 		margin: 15px;
// 		text-align: center;
// 	}

//     li {
//       background: #ecdee8;
//       border: 1px solid #b680be;
//       width: 12px;
//       height: 12px;
//       display: inline-block;
//       margin-right: 13px;
//       overflow: hidden;
//       border-radius: 50%;

//       button {
//         display: none;
//         width: 12px;
//         height: 12px;
//         border: none;
//         text-indent: -10000px;
//         outline: none;
//       }

//       &.slick-active {
//         background: #b57dbd;
//       }
//     }
//   }
// }

// .client-section {
//   padding-top: 25px;
//   padding-bottom: 25px;
//   @include gradient(#e3eeff, #f3e7e9);

//   @include media_min(md){
//     padding-top: 50px;
//     padding-bottom: 50px;
//   }

//   @include media_min(lg){
//     padding-top: 100px;
//     padding-bottom: 100px;
//   }

//   .client-item {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     margin: 25px 0px;

//     @include media_min(lg){
//       flex-direction: row;
// 	    margin: 75px 40px;
//     }
//     @include media(sm){
//       margin-bottom: 0px;
//     }
//   }

//   .client-item__desc {
//     flex-basis: 100%;
//     order: 1;

//     @include media_min(md){
//       padding-right: 150px;
//       flex-basis: 1;
//       order: 1;
//     }

//     h4 {
//       margin: 0;
//       padding: 0 0 20px;
//       font-size: 24px;
//       font-weight: 500;
//       color: #000;

// 	  @include media(md){
// 		  font-size: 16px;
// 	  }
//     }

//     p {
//       margin: 0;
//       padding: 0 0 50px;
//       font-size: 24px;
//       font-weight: 300;
//       color: #5e5a71;

//       @include media(md){
//       font-size: 16px;
//       }

//       @include media(sm){
//         padding-bottom: 20px;
//       }

//       &.author {
//         padding: 0 0 20px;
//         font-size: 14px;
//         font-weight: 600;
//         color: #9f98c6;

//         strong {
//           font-size: 16px;
//           color: #6445ba;
//         }
//       }
//     }
//   }

//   .client-item__thumb {
//     flex-basis: 100%;
//     order: 2;
//     position: relative;

// 	@include media(md){
// 		margin: 30px;
// 		flex-basis: auto !important;
//   }
//   @include media(sm){
//     margin: 0;
//   }

//     img {
//       width: 100%;
//       -webkit-filter: contrast(120%) saturate(125%);
//       filter: contrast(120%) saturate(125%);
//     }

//     &:before,
//     &:after {
//       content: '';
//       position: absolute;
//       left: 0;
//       top: 0;
//       width: 100%;
//       height: 100%;
//       z-index: 2;
//     }

//     &:before {
//       opacity: .4;
//       @include gradient(#5f72bd, #9b23ea);
//     }

//     &:after {
//       border: 5px solid #ffffff;
//       transform: translate3d(30px, 40px, 0);
//       @include media(sm){
//         content: none;
//       }
//     }

//     @include media_min(md){
//       flex-basis: 550px;
//       order: 2;
//     }
//   }

// }

// /* Media Max-Width */
// @include media(xs) { }
// @include media(sm) { }
// @include media(md) { }
// @include media(lg) { }

// /* Media Min-Width */
// @include media_min(xs) { }
// @include media_min(sm) { }
// @include media_min(md) { }
// @include media_min(lg) { }

// New home page CSS start
// .title_heading,.h1{
//   font-size: 66px;
//   line-height: 1.2;
//   color:$bannerheading;
// }

.header-style-1 {
  // &:before{
  //   content: "";
  //   display: block;
  //   width: 100%;
  //   height: 100%;
  //   top:0;
  //   left:0;
  //   background: url(../img/new-images/top.png) no-repeat center / cover;
  // }
  &:after {
    background: url(../img/new-images/header-curve.png) no-repeat;
    content: "";
    display: block;
    min-height: 100vh;
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 1;
    height: 100%;
    background-size: 100%;
    background-position: bottom;
  }
  position: relative;
  background: linear-gradient(315deg, #a2349a 0, #521e92);
  // min-height: 100vh;
  height: 100vh;
  // min-height: 500px;
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
  .row {
    > * {
      position: relative;
      z-index: 2;
    }
  }
  // background: url(../img/new-images/top.png) no-repeat center / cover;
  @include media(md) {
    background-image: linear-gradient(#aa379f, #5c2193 50%);
    padding-bottom: 340px;
    @include flexbox;
    @include align-items(center);
  }
  @include media(sm) {
    padding-bottom: 240px;
  }
  @include media(xs) {
    padding-bottom: 110px;
  }
  // @include media(md) {}

  // &:before{
  //   background: url(../img/new-images/curve-bg-white.png) no-repeat;
  //   content: "";

  //   height: 140px;
  //   width: 100%;
  //   bottom: 0;
  //   top: auto;
  //   background-size: 100% auto;
  //   background-color: #5c2193;
  //   transform: rotate(180deg);
  //   display: none;
  //   @include media(md) {
  //     display: block;
  //   }
  // }
  &.header-style-1-inner{
    @include flexbox;
    @include align-items(center);
  }
}
@media (min-width: 992px) {
  .header-style-1 {
    padding-top: 130px;
    padding-bottom: 0px;
  }
}
.header-style-1:before {
  display: none;
}
#header .phone {
  font-size: 20px;
  font-weight: 500;
  margin-top: 0%;
  @include align-self(flex-end);
}
.button {
  background: $button;
  -webkit-box-shadow: 0px 3px 8px rgb(0 0 0 / 12%);
  -moz-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 3px 8px rgb(0 0 0 / 12%);
}
.button:focus {
  outline: none;
}
.button:hover {
  background: $button-hover;
  outline: none;
}
.header-style-1 .header__title {
  padding-top: 0;
}
.header-style-1 .header__title h1 {
  color: $white;
  margin-bottom: 25px;
}
.header__desc {
  margin-bottom: 25px;
  font-size: 24px;
  line-height: 1.4;
  color: $white;
  @include media(xl) {
    font-size: 18px;
  }
  @include media(md) {
    font-size: 16px;
  }
  @include media(xs) {
    font-size: 14px;
  }
}
// common style

.anim-circle {
  bottom: 0;
  left: 8%;
  position: absolute;
  top: 30%;
  height: 190px;
  width: 190px;

  > img {
    width: 100%;
  }
  &--one {
    animation: MoveUpDownOne 40s linear infinite;
  }
  &--two {
    bottom: 12%;
    height: 140px;
    top: auto;
    width: 140px;
    left: 0;
    animation: MoveUpDownTwo 25s linear infinite;
  }
  &--three {
    height: 100px;
    top: 60px;
    width: 100px;
    bottom: auto;
    left: 42%;
    animation: MoveUpDownThree 65s linear infinite;
  }
  &--four {
    bottom: auto;
    height: 80px;
    left: 45%;
    top: 60%;
    width: 80px;
    animation: MoveUpDownFour 75s linear infinite;
  }
  &--five {
    height: 60px;
    top: 25%;
    width: 60px;
    bottom: auto;
    left: 50%;
    animation: MoveUpDownFive 75s linear infinite;
  }
}
@keyframes MoveUpDownOne {
  0%,
  100% {
    transform: translate(0);
  }
  50% {
    transform: translate(150px, 150px);
  }
}
@keyframes MoveUpDownTwo {
  0%,
  100% {
    transform: translate(0);
  }
  50% {
    transform: translate(-50px, -50px);
  }
}
@keyframes MoveUpDownThree {
  0%,
  100% {
    transform: translate(0);
  }
  50% {
    transform: translate(250px, 0px);
  }
}
@keyframes MoveUpDownFour {
  0%,
  100% {
    transform: translate(0);
  }
  50% {
    transform: translate(0px, -100px);
  }
}
@keyframes MoveUpDownFive {
  0%,
  100% {
    transform: translate(0);
  }
  50% {
    transform: translate(0px, 100px);
  }
}
section,
footer {
  h3.sub-title {
    font-size: 36px;
    line-height: 1.3;
    @include media(xl) {
      font-size: 28px;
      margin: 0 0 20px;
      padding: 0 0 30px;
    }
    @include media(md) {
      font-size: 22px;
      margin: 0 0 10px;
      padding: 0 0 20px;
    }
    @include media(md) {
      font-size: 20px;
    }
  }
  h5 {
    font-size: 22px;
    line-height: 1.3;
    font-weight: normal;
    @include media(md) {
      font-size: 16px;
    }
    @include media(xs) {
      font-size: 16px;
    }
  }
}
.title_heading,
.h1 {
  font-size: 66px;
  line-height: 1.2;
  color: $bannerheading;
}

.curved-section:before {
  background: url(../img/new-images/curve-bg.png);
  width: 100%;
  height: 470px;
  content: "";
  display: block;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  @include media(xl) {
    height: 300px;
  }
  @include media(lg) {
    height: 200px;
  }
  @include media(sm) {
    height: 100px;
  }
  @include media(xs) {
    height: 40px;
  }
}
section {
  padding-top: 100px;
  @include media(xl) {
    padding-top: 80px;
  }
  @include media(sm) {
    padding-top: 60px;
  }
  @include media(xs) {
    padding-top: 40px;
  }
}
// common style end

.section-pos {
  .pos-slick {
    padding-bottom: 50px;
    position: relative;
    .slick-dots {
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      padding: 0;
      @include flexbox;
      @include justify-content(center);
      margin: 0;
      li {
        margin: 0 8px;
        button {
          width: 14px;
          height: 14px;
          background: $black;
          border: none;
          @include border-radius(100%);
          font-size: 0;
          cursor: pointer;
          padding: 0;
          outline: none;
        }
        &.slick-active {
          button {
            background: $button;
          }
        }
      }
    }
    .slick-slide {
      > img {
        margin: 0 auto;
      }
    }
  }
  .pi-list {
    @include justify-content(space-between);
    text-align: center;
    padding: 0;
    @include align-items(flex-start);
    li {
      // width:80px;
      @include flexbox;
      @include justify-content(center);
      @include align-items(center);
      @include flex-direction(column);
      .pi-list-thumb {
        width: 80px;
        height: 80px;
        border: 3px solid $green;
        box-shadow: 2px 0 9px #cecccc;
        @include flexbox;
        @include justify-content(center);
        @include align-items(center);
        @include media(md) {
          width: 65px;
          height: 65px;
        }
      }
      .pi-list-title {
        font-size: 16px;
        color: $text-secondary;
        line-height: 1.3;
        margin-top: 15px;
        @include media(md) {
          font-size: 14px;
        }
      }
      & + li {
        margin-left: 50px;
        @include media(xl) {
          margin-left: 15px;
        }
        @include media(md) {
          margin-left: 5px;
        }
      }
      @include media(md) {
        flex: 1;
      }
    }
  }
}

// client say section

.clientsay-section {
  margin-top: 110px;
  @include media(xl) {
    margin-top: 80px;
  }
  @include media(md) {
    margin-top: 0px;
  }
  position: relative;
  .client-slick {
    margin-top: 80px;
    padding-bottom: 30px;
    @include media(xl) {
      margin-top: 15px;
    }
    @include media(xs) {
      margin-top: 0px;
    }
    .client-thumb {
      height: 240px;
      width: 240px;
      @include border-radius(100%);
      box-shadow: 0px 0px 90px rgb(184 124 214 / 28%);
      @include flexbox;
      @include justify-content(center);
      @include align-items(center);
      margin: 0 auto;
      background-color: $white;
      @include media(sm) {
        box-shadow: 0px 0px 10px rgb(184 124 214 / 28%);
        margin-top: 10px;
      }
      @include media(xs) {
        height: 140px;
        width: 140px;
        padding: 15px;
        margin-top: 0;
      }
    }
    .client-slick-right {
      font-size: 18px;
      line-height: 30px;
      color: $text-primary;
      @include media(md) {
        font-size: 14px;
        line-height: 1.3;
      }
      &::before {
        background: url(../img/new-images/quotes-icon.png);
        content: "";
        display: block;
        height: 170px;
        width: 200px;
        background-size: cover;
        opacity: 0.1;

        @include media(md) {
          height: 70px;
          width: 90px;
        }
        @include media(sm) {
          height: 50px;
          width: 60px;
          left: 0;
          right: 0;
          margin: 40px auto 0;
        }
        @include media(xs) {
          margin: 10px auto 0;
        }
      }
      .client-slick-title {
        font-size: 24px;
        color: $text-secondary;
        font-weight: bold;
        margin: 15px 0;
        @include media(md) {
          font-size: 20px;
        }
        @include media(xs) {
          font-size: 14px;
        }
      }
      @include media(sm) {
        text-align: center;
      }
    }
    .slick-arrow {
      background: transparent;
      border: none;
      font-size: 0;
      outline: none;
      position: absolute;
      right: calc(50% - 90px);
      bottom: 0;
      @include media(sm) {
        right: calc(50% - 40px);
      }
      &.slick-prev {
        right: calc(50% - 50px);
        transform: rotate(-180deg);
        @include media(sm) {
          right: calc(50% + 10px);
        }
      }
      &::before {
        background: url(../img/new-images/right-arrow.png);
        width: 23px;
        height: 15px;
        content: "";
        display: block;
      }
    }
    .slick-slide {
      min-height: 380px;
      @include media(md) {
        min-height: 340px;
      }
    }
    .slick-track {
      @include flexbox;
    }
  }
  &:before,
  &:after {
    background: url(../img/new-images/bg-dot.png);
    content: "";
    height: 170px;
    width: 170px;
    display: block;
    position: absolute;
    right: 70px;
    top: 110px;
    background-size: 100%, contain;
    z-index: -1;
    @include media(xxl) {
      height: 110px;
      width: 100px;
    }
    @include media(lg) {
      height: 70px;
      width: 60px;
      right: 0;
    }
    @include media(xs) {
      display: none;
    }
  }
  &:after {
    left: 6%;
    right: auto;
    height: 130px;
    width: 130px;
    top: 40%;
    @include media(xxl) {
      height: 110px;
      width: 100px;
      // top: 20px;
    }
  }
}

// section one start

.section-card {
  @include media(lg) {
    margin-top: 40px;
  }
  @include media(md) {
    margin-top: 10px;
  }
  @include media(sm) {
    margin-left: -15px;
    margin-right: -15px;
  }
  li {
    width: 200px;
    height: 200px;
    box-shadow: 0px 0px 16px rgb(188 188 188 / 60%);

    @include border-radius(7px);
    background-color: $white;
    position: relative;
    z-index: 2;
    @include flexbox;
    @include align-items(center);
    @include flex-direction(column);
    @include justify-content(center);

    &:nth-child(even) {
      margin-left: 130px;
      @include media(md) {
        margin-left: 40px;
      }
      @include media(sm) {
        margin-left: 0;
      }
    }
    &:first-child {
      margin-top: 50px;
      margin-bottom: 50px;
      @include media(sm) {
        margin-top: 0px;
        margin-bottom: 0px;
      }
    }
    &:last-child {
      margin-top: -50px;
      @include media(sm) {
        margin-top: 0px;
      }
    }
    .section-card-title {
      font-size: 20px;
      font-weight: 500;
      line-height: 1.3;
      margin-top: 15px;
      text-transform: uppercase;
      @include media(lg) {
        font-size: 16px;
      }
      @include media(md) {
        font-size: 14px;
      }
      @include media(xs) {
        font-size: 12px;
      }
    }
    @include media(lg) {
      width: 130px;
      height: 130px;
    }
    @include media(sm) {
      width: calc(50% - 30px);
      height: auto;
      padding: 15px;
      margin: 15px;
      &:first-child,
      &:last-child,
      &:nth-child(even) {
        margin: 15px;
        text-align: center;
      }
    }
    .section-card-icon {
      @include media(lg) {
        width: 34px;
        height: 34px;
      }
    }
  }
}
.bg-svg-path {
  position: absolute;
  z-index: 0;
  left: 115px;
  max-width: 90%;
  top: -50px;
  @include media(lg) {
    left: 85px;
    max-width: 80%;
    top: -20px;
  }
  @include media(md) {
    top: 10px;
  }
  @include media(sm) {
    display: none;
  }
}
.section-one,
.section-three {
  padding-top: 110px;
  margin-top: 110px;
  position: relative;
  z-index: 1;
  @include media(xl) {
    padding-top: 80px;
    margin-top: 0px;
  }
  @include media(sm) {
    padding-top: 60px;
  }
  @include media(xs) {
    padding-top: 40px;
  }
}
.section-one {
  &:before {
    background: url(../img/new-images/bg-dot.png);
    background-size: contain;
    content: "";
    display: block;
    height: 260px;
    position: absolute;
    right: 30px;
    top: -50px;
    width: 130px;
    @include media(xxl) {
      height: 240px;
      position: absolute;
      right: 30px;
      top: 0;
      width: 130px;
    }
    @include media(xs) {
      display: none;
    }
  }
  .section-one-right {
    padding-left: 90px;
    @include media(sm) {
      padding-left: 15px;
    }
  }
  .section-one-left:before {
    background: url(../img/new-images/bg-dot.png);
    display: block;
    position: absolute;
    content: "";
    top: auto;
    bottom: -95px;
    right: auto;
    left: -144px;
    width: 220px;
    height: 440px;
    background-size: contain;
    @include media(sm) {
      bottom: 55px;
      height: 200px;
      left: 0;
      width: 70px;
    }
    @include media(xs) {
      display: none;
    }
  }
}
// section one end

// section two start
.section-two {
  margin-top: -100px;
  @include media(xs) {
    margin-top: 0px;
  }
  .section-two-inner {
    background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#e2f6ff),
      to(white)
    );
    background-image: -o-linear-gradient(#e2f6ff, white);
    background-image: linear-gradient(#e2f6ff, white);
  }
  .section-two-right-img {
    background: linear-gradient(to top, #ec77ab, #7873f5);
    padding: 3px;
    @include border-radius(10px);
    overflow: hidden;
    > img {
      @include border-radius(10px);
      overflow: hidden;
    }
  }
}

// section two end

// feature section start
.feature-section {
  position: relative;
  margin-top: -130px;
  @include media(xs) {
    margin-top: 0px;
  }
  &:before {
    background-image: url(../img/new-images/curve-bg-light.png);
    height: 320px;
    @include media(lg) {
      height: 200px;
    }
    @include media(xs) {
      height: 70px;
    }
  }
  &:after {
    background: url(../img/new-images/bg-dot.png);
    display: block;
    position: absolute;
    content: "";
    top: -270px;
    left: auto;
    width: 200px;
    height: 340px;
    background-size: contain;
    right: -50px;
    z-index: -1;
    @include media(xxl) {
      height: 340px;
      top: -130px;
      width: 140px;
    }
    @include media(xs) {
      display: none;
    }
  }
  .section-feature-inner {
    background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#fff1e6),
      to(white)
    );
    background-image: -o-linear-gradient(#fff1e6, white);
    background-image: linear-gradient(#fff1e6, white);
  }

  .feature-slick {
    padding-bottom: 105px;
    margin-bottom: 75px;
    @include media(md) {
      margin-bottom: 45px;
      padding-bottom: 55px;
    }
    .slick-list {
      margin: 0 -15px;
      .slick-track {
        @include flexbox;
        .slick-slide {
          height: auto;
          margin: 15px;
          min-height: 100%;
        }
      }
    }
    .slick-arrow {
      background: transparent;
      border: none;
      font-size: 0;
      outline: none;
      position: absolute;
      right: calc(50% - 60px);
      bottom: 0;
      &.slick-prev {
        right: calc(50% + 20px);
        transform: rotate(-180deg);
      }
      &::before {
        background: url(../img/new-images/right-double-arrow.png);
        content: "";
        display: block;
        height: 26px;
        width: 27px;
        background-repeat: no-repeat;
      }
    }
  }
}
.feature-section .feature-items {
  padding: 0;
  @include media(sm) {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.feature-section .feature-items .feature-item .thumb {
  width: 80px;
  height: 80px;
  padding: 12px;
  border: 7px solid #ebe4f2;
  margin: 0;
  transition: 0.2s ease all;
}
.thumb-container:before,
.thumb-container:after {
  content: "";
  width: 100px;
  height: 100px;
  background: #f1edf6;
  display: block;
  z-index: 1;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  @include border-radius(100%);
}
.feature-item:hover .thumb-container:before,
.feature-item:hover .thumb-container:after {
  opacity: 0;
}
.feature-item:hover .thumb-container .thumb {
  border-color: transparent;
  background-color: transparent;
}

.thumb-container:after {
  width: 120px;
  height: 120px;
  background: #f8f6fb;
  z-index: 0;
}
.thumb-container {
  position: relative;
  padding: 25px;
  display: inline-block;
}
.feature-section .feature-items .feature-item .thumb:after {
  background: url(../img/svg/fround.svg);
}

// feature section end

// customer expericen section start
.customer-experice-section {
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
  &:after {
    content: "";
    position: absolute;
    width: calc(50% - 110px);
    height: calc(100% - 110px);
    right: -10%;
    top: 110px;
    background: linear-gradient(#fff, #fff) padding-box,
      linear-gradient(to right, #ffebdb 5%, #fffaf6 40%, white 100%) border-box;
    @include border-radius(100%);
    border: 60px solid transparent;
    max-width: 900px;
    max-height: 900px;
    @include media(sm) {
      display: none;
    }
  }
}
.ce-list {
  list-style-type: none;
  padding-left: 0;
  font-size: 18px;
  line-height: 30px;
  margin-top: 60px;
  color: #8783a2;
  @include media(lg) {
    font-size: 14px;
    line-height: 1.3;
  }
  @include media(sm) {
    margin-top: 15px;
  }
}
.ce-list li + li {
  margin-top: 30px;
}
.ce-list-no {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#7c73f2),
    to(#e877ae)
  );
  background-image: -o-linear-gradient(#7c73f2, #e877ae);
  background-image: linear-gradient(#7c73f2, #e877ae);
  -webkit-background-clip: text;
  -webkit-text-stroke: 5px transparent;
  -webkit-background-clip: text;
  background-clip: text;
  color: #ffffff;
  font-size: 50px;
  line-height: 1;
  @include media(lg) {
    font-size: 26px;
    padding: 2px;
  }
}
.ce-list-title {
  font-size: 24px;
  color: #212529;
  text-transform: uppercase;
  @include media(lg) {
    font-size: 20px;
  }
  @include media(md) {
    font-size: 18px;
  }
  @include media(xs) {
    font-size: 14px;
  }
}

.ce-list-right {
  min-height: 100%;
  @include flexbox;
  @include align-items(flex-end);
  @include flex-direction(column);
  @include justify-content(space-between);
  position: relative;
  z-index: 2;
  padding-left: 26%;
  li {
    @include flexbox;
    @include align-items(center);
    @include flex-direction(column);
    &:first-child {
      margin-top: -50px;
      @include media(sm) {
        margin-top: 0px;
      }
    }
    &:last-child {
      margin-bottom: -50px;
      @include media(sm) {
        margin-bottom: 0px;
      }
    }
  }
  @include media(sm) {
    padding-left: 0;
    @include flex-direction(row);
    min-height: auto;
    @include align-items(flex-start);
  }
}

.ce-list-right-thumb {
  width: 200px;
  height: 200px;
  background-image: linear-gradient(-25deg, #b87cd6 30%, #648afa);
  // border-radius: 100%;
  @include border-radius(100%);
  @include flexbox;
  @include justify-content(center);
  @include align-items(center);
  padding: 35px;
  position: relative;
  &:before {
    position: absolute;
    width: 90%;
    height: 90%;
    content: "";
    border: 3px solid #fff;
    @include border-radius(100%);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
  }
  @include media(xxl) {
    width: 140px;
    height: 140px;
    padding: 25px;
  }
  @include media(sm) {
    order: 1;
  }
  @include media(xs) {
    height: 80px;
    padding: 15px;
    width: 80px;
  }
}
.ce-list-right-text {
  font-size: 24px;
  line-height: 1.3;
  text-align: center;
  text-transform: uppercase;
  @include media(xxl) {
    font-size: 14px;
  }
  @include media(sm) {
    order: 2;
    margin-top: 24px;
  }
  @include media(xs) {
    font-size: 12px;
  }
}
.ce-list-right-text > span {
  font-weight: bold;
  display: block;
}
// customer expericen section end

// pos section start
.section-pos {
  &:before {
    background-image: url(../img/new-images/curve-bg-light-green.png);
  }
  .section-pos-inner {
    background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#f0ffe1),
      to(white)
    );
    background-image: -o-linear-gradient(#f0ffe1, white);
    background-image: linear-gradient(#f0ffe1, white);
  }
}
.pos-right {
  text-align: right;
  h3:after {
    left: auto;
    right: 0;
    @include media(sm) {
      left: 0;
      right: 0;
      margin: auto;
    }
  }
  @include media(sm) {
    margin-top: 45px;
    text-align: center;
  }
}
// pos section end
.lns-parts {
  background: url(../img/new-images/divya-chakra.png) no-repeat center/87%;
  padding-top: 100px;
  margin-top: 100px;
  padding-bottom: 100px;
  &:before,
  &:after {
    background: url(../img/new-images/bg-dot.png);
    display: block;
    position: absolute;
    content: "";
    top: 150px;
    left: 10%;
    width: 200px;
    height: 190px;
    background-size: contain;
    z-index: -1;
    @include media(xxl) {
      width: 120px;
      height: 120px;
      left: 7%;
    }
    @include media(lg) {
      height: 80px;
      width: 80px;
      top: 90px;
    }
    @include media(xs) {
      display: none;
    }
  }
  &:after {
    top: 370px;
    left: auto;
    right: 5%;
  }
  .lns-parts-left {
    margin-top: -75px;
    padding-bottom: 75px;
    @include media(sm) {
      margin-top: 0;
      padding-bottom: 0;
    }
  }
  @include media(xl) {
    padding-top: 80px;
    margin-top: 0px;
    padding-bottom: 40px;
  }
  @include media(sm) {
    background: none;
    padding-top: 0;
  }
  @include media(xs) {
    padding-bottom: 0;
  }
}

.bubble {
  position: relative;
  font-size: 14px;
  line-height: 1.3;
  width: 245px;
  height: 245px;
  background: #fff;
  border-radius: 100%;
  padding: 24px;
  text-align: center;
  color: #686868;
  border: 1px solid #32bfea;
  @include media(md) {
    width: 175px;
    height: 175px;
    font-size: 11px;
  }
  @include media(sm) {
    height: auto;
    width: auto;
    border-radius: 10px;
    margin: 7px;
  }
  @include media(xs) {
    width: 100%;
  }
  .bubble-title {
    font-size: 18px;
    line-height: 1.3;
    text-transform: uppercase;
    margin: 10px 0;
    color: #212529;
    font-weight: 500;
    transition: 0.2s ease all;
    @include media(lg) {
      font-size: 16px;
    }
    @include media(md) {
      font-size: 14px;
    }
  }
  &:hover {
    color: #fff;
    background-color: #32bfea;
    .bubble-title {
      color: #fff;
    }
  }
  .bubble-icon {
    @include media(md) {
      > img {
        width: 30px;
        height: 30px;
      }
    }
  }
}

.bubble.bubble-bottom-right:after,
.bubble.bubble-bottom-right:before,
.bubble.bubble-bottom-left:after,
.bubble.bubble-bottom-left:before {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 70px solid #32bfea;
  content: "";
  bottom: -19px;
  right: -15px;
  position: absolute;
  transform: rotate(-45deg);
  @include media(md) {
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 40px solid #32bfea;
    bottom: -10px;
    right: -2px;
  }
  @include media(sm) {
    display: none;
  }
}
.bubble.bubble-bottom-left:after {
  right: auto;
  bottom: -16px;
  border-top-color: #fff;
  z-index: 1;
  left: -7px;
  transform: rotate(45deg);
  @include media(md) {
    bottom: -6px;
    left: 2px;
  }
}
.bubble.bubble-bottom-right:before {
  right: -11px;
  bottom: -15px;
  border-top-color: #fff;
  z-index: 1;
  @include media(md) {
    bottom: -8px;
    right: 0px;
  }
}
.bubble.bubble-bottom-left:before {
  right: auto;
  bottom: -21px;
  z-index: 1;
  left: -12px;
  transform: rotate(45deg);
  @include media(md) {
    bottom: -9px;
    left: -1px;
  }
}
.bubble.bubble-bottom-right:hover:before {
  border-top-color: #32bfea;
}
.bubble.bubble-bottom-left:hover:after {
  border-top-color: #32bfea;
}

// for bubble background effect
// ==lns part section start
// .bubble{
//   .bubble-icon{
//     &:before{
//       background: url(../img/svg/fround.svg);
//       content: "";
//       height: 100%;
//       left: 0;
//       position: absolute;
//       top: 0;
//       transform: scale(0);
//       transition: all .4s ease-in-out;
//       width: 100%;
//       z-index: 1;
//     }
//   }
//   &:hover{
//     .bubble-icon{
//       &:before{
//         left: -50px;
//         opacity: .3;
//         top: -30%;
//         transform: scale(1.2);
//       }
//     }
//   }
// }
// ==lns part section end
