.section {
  position: relative;
  padding-top: 60px;
  padding-bottom: 60px;
  /*@include gradientv(#c7afe3, #e788de);*/

  @include media_min(md){
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @include media_min(xxl){
    padding-top: 90px;
  }

  .container {
    position: relative;
    z-index: 2;
  }
}

.section-bg {
  background: url(../img/new-images/section-bg.png) top center no-repeat;
  padding-top: 500px;
}

.si-1 {
  .si1-items {
    padding: 200px 0 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    &:after {
      content: '';
      display: table;
      clear: both;
    }
  }
  .si1-item {
    flex: 0 0 50%;
    width: 50%;
    padding: 10px;
    position: relative;
    &:before {
      content: '';
      position: absolute;      
      top: 6px;
      width: 258px;
      height: 258px;
      background: #ff78ae;
      background: -moz-linear-gradient(left,  #ff78ae 0%, #7c74f8 100%);
      background: -webkit-linear-gradient(left,  #ff78ae 0%,#7c74f8 100%);
      background: linear-gradient(to right,  #ff78ae 0%,#7c74f8 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff78ae', endColorstr='#7c74f8',GradientType=1 );
      -webkit-border-radius: 30px;
      border-radius: 30px;
    }

    &:nth-child(1) .si1i-box1,
    &:nth-child(3) .si1i-box1 {
      float: right;
    }
    &:nth-child(2) .si1i-box1,
    &:nth-child(4) .si1i-box1 {
      float: left;
    }


    &:nth-child(1) {
      &:before {
        right: 6px;
      }

      .si1i-box1 {
        &:before,
        .counter {
          top: -25px;
          left: -25px;
        }
      }

      .si1i-box2 {
        bottom: 240px;
        right: 260px;
        border-top: none;
        border-right: none;
        border-bottom-left-radius: 25px;
        &:before {
          left: -8px;
        }
      }
    }
    &:nth-child(2) {
      &:before {
        left: 6px;
      }

      .si1i-box1 {
        &:before,
        .counter {
          top: -25px;
          right: -25px;
        }
      }

      .si1i-box2 {
        bottom: 240px;
        left: 260px;
        border-top: none;
        border-left: none;
        border-bottom-right-radius: 25px;
        text-align: right;
        &:before {
          right: -8px;
        }
      }
    }
    &:nth-child(3) {
      &:before {
        right: 6px;
      }

      .si1i-box1 {
        &:before,
        .counter {
          bottom: -25px;
          left: -25px;
        }
      }

      .si1i-box2 {
        bottom: 20px;
        right: 260px;
        border-top: none;
        border-right: none;
        border-bottom-left-radius: 25px;
        &:before {
          left: -8px;
        }
      }
    }
    &:nth-child(4) {
      &:before {
        left: 6px;
      }

      .si1i-box1 {
        &:before,
        .counter {
          bottom: -25px;
          right: -25px;
        }
      }

      .si1i-box2 {
        bottom: 20px;
        left: 260px;
        border-top: none;
        border-left: none;
        border-bottom-right-radius: 25px;
        text-align: right;
        &:before {
          right: -8px;
        }
      }
    }
  }
  .si1i-box1 {
    width: 250px;
    height: 250px;
    background: #fff;
    position: relative; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    
    &:before {
      content: '';
      background: #fff1f7;
      display: block;
      width: 75px;
      height: 75px;
      transform: scale(1.5);
      position: absolute;
      z-index: -1;
      -webkit-border-radius: 10px;
      border-radius: 10px;
    }
    .counter {
      background: #fff;
      display: block;
      width: 75px;
      height: 75px;
      font-size: 30px;
      line-height: 75px;
      text-align: center;      
      position: absolute;
      z-index: 1;
      -webkit-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.08);
      box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.08);
      -webkit-border-radius: 10px;
      border-radius: 10px;
    }
    .text {
      font-size: 20px;
      color: #212529;
      text-transform: uppercase;
      padding-top: 15px;
    }
  }
  .si1i-box2 {
    width: 250px;
    padding: 25px;
    border: 3px dashed #ff78ae;
    position: absolute;
    &:before {
      content: '';
      width: 15px;
      height: 15px;
      display: block;
      position: absolute;      
      top: -15px;     
      border: 3px solid #ff78ae;
      -webkit-border-radius: 25px;
      border-radius: 25px;
    }
  }  
}

.icon-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  .icon {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background: linear-gradient(#fff,#fff) padding-box, linear-gradient(to right, #ff78ae, #7c74f8) border-box;
    border: 2px dashed #fff;
    box-shadow: 0px 0px 15px rgba(295, 95, 168, .35);
    -webkit-border-radius: 50%;
    border-radius: 50%;
    span {
      padding-top: 15px;
      font-size: 22px;
      color: #ec77ab;
    }
  }
  .text {
    padding-top: 25px;
    font-size: 24px;
    font-weight: bold;
    color: #212529;
  }
}

.card-item {
  padding-bottom: 15px;
  .icon {
    position: relative;
    background: #fff;
    width: 90px;
    height: 90px;
    margin: 0 auto 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: 3px 0px 20px rgba(246, 52, 140, 0.2);
    box-shadow: 3px 0px 20px rgba(246, 52, 140, 0.2);
    -webkit-border-radius: 50%;
    border-radius: 50%;
    &:after {
      content: '';
      width: 3px;
      height: 120px;
      display: block;
      border-left: 3px dashed #ec77ab;
      position: absolute;
      top: calc(100% + 5px);
    }
  }
  .image {
    padding-top: 25px;
    img {
      display: inline-block;
      -webkit-box-shadow: 3px 10px 16px rgba(188, 188, 188, 0.6);
      box-shadow: 3px 10px 16px rgba(188, 188, 188, 0.6);
      -webkit-border-radius: 10px;
      border-radius: 10px;
    }
  }
  .title {
    padding-top: 25px;
    font-size: 20px;
    font-weight: 500;
    color: #212529;
    text-transform: uppercase;
  }
  .desc {
    padding-top: 25px;
    font-size: 15px;
    color: #686868;
    opacity: .8;
  }
}

.section-line-bg {
  background: url(../img/new-images/curve-shape-line.png) center top no-repeat;
  margin-top: 100px;
}

.companyh-1,
.companyh-2,
.companyh-3 {
  position: relative;
  max-width: 280px;
  margin: 0 auto;
}
.companyh-1 {  
  top: 150px;
}
.companyh-2 {
  top: 70px;
}
.companyh-3 {
  top: -80px;
}

.section-howitworks {
  position: relative;
  margin-top: 150px;
  margin-bottom: 100px;
  .hiw-title {    
    width: 420px;
    font-size: 60px;
    font-weight: bold;
    color: #ec77ab;
    position: absolute;
    left: -100px;
    top: -100px;
    &:before {
      background: url(../img/new-images/quotes-icon.png);
      background-size: cover;
      content: "";
      display: block;
      height: 170px;
      opacity: .1;
      width: 200px;
    }
  }
  .hiw-item {
    position: absolute;
    width: 240px;
    &:before {
      content: '';
      position: absolute;
      width: 240px;
      height: 120px;
    }
    &:after {
      content: '';
      display: block;
      width: 18px;
      height: 18px;
      position: absolute;
      border: 3px solid #ec77ab;
      -webkit-border-radius: 50%;
      border-radius: 50%;
    }
  }
  .hiw-item .counter {
    font-size: 42px;
    color: #ec77ab;
    position: absolute;
    left: -60px;
    top: -10px;
  }
  .hiw-item .title {
    font-size: 22px;
    font-weight: 500;
    color: #212529;
    text-transform: uppercase;
  }
  .hiw-item .desc {
    padding-top: 10px;
    font-size: 18px;    
    color: #686868;
    opacity: 0.8;
  }
  .hiw-1 {
    top: -70px;
    right: -200px;
    &:before {
      height: 30px;
      top: 50px;
      left: -280px;
      border-top-left-radius: 15px;
      border-top: 3px dashed #ec77ab;
      border-left: 3px dashed #ec77ab;
    }
    &:after {
      top: 42px;
      left: -42px;
    }
  }
  .hiw-2 {
    top: 160px;
    right: -340px;
    &:before {
      width: 110px;
      height: 3px;
      top: 50px;
      left: -155px;
      border-top-left-radius: 15px;
      border-top: 3px dashed #ec77ab;
      border-left: 3px dashed #ec77ab;
    }
    &:after {
      top: 42px;
      left: -42px;
    }
  }
  .hiw-3 {
    top: 470px;
    right: -340px;
    &:before {
      width: 110px;
      height: 3px;
      top: 50px;
      left: -155px;
      border-top-left-radius: 15px;
      border-top: 3px dashed #ec77ab;
      border-left: 3px dashed #ec77ab;
    }
    &:after {
      top: 42px;
      left: -42px;
    }
  }
  .hiw-4 {
    top: 700px;
    right: -210px;
    &:before {    
      height: 30px;  
      top: 23px;
      left: -280px;
      border-bottom-left-radius: 15px;
      border-bottom: 3px dashed #ec77ab;
      border-left: 3px dashed #ec77ab;
    }
    &:after {
      top: 42px;
      left: -42px;
    }
  }
  .hiw-5 {
    top: 700px;
    left: -210px;
    .counter {
      left: auto;
      right: -60px;
    }
    &:before {    
      height: 30px;  
      top: 23px;
      right: -280px;
      border-bottom-right-radius: 15px;
      border-bottom: 3px dashed #ec77ab;
      border-right: 3px dashed #ec77ab;
    }
    &:after {
      top: 42px;
      right: -42px;
    }
  }
  .hiw-6 {
    top: 500px;
    left: -320px;
    .counter {
      left: auto;
      right: -60px;
    }
    &:before {
      width: 110px;
      height: 3px;
      top: 50px;
      right: -150px;
      border-top-right-radius: 15px;
      border-top: 3px dashed #ec77ab;
      border-right: 3px dashed #ec77ab;
    }
    &:after {
      top: 42px;
      right: -42px;
    }
  }
}

.pricing-plans {
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  .pricing-plan {
    display: flex;
    flex-direction: column;
    padding: 50px;
    background: #fff;
    border: 2px dashed #d1a1e3;
    -webkit-box-shadow: 3px 0 24px rgba(74, 74, 74, .2);
    box-shadow: 3px 0 24px rgba(74, 74, 74, .2);
    -webkit-border-radius: 11px;
    border-radius: 11px;

    .icon {
      background: #fff;
      margin: 25px auto;
      width: 95px;
      height: 95px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .price {
      padding-top: 20px;
      font-size: 42px;
      color: #ff137c;
    }
    .title {
      padding-top: 20px;
      font-size: 30px;
      font-weight: 500;
      color: #212529;
      text-transform: uppercase;
    }
    .desc {
      padding-top: 20px;
      font-size: 15px;
      color: #686868;
      opacity: .8;
    }

    &.pp2 {
      position: relative;
      transform: scale(1.1);
      background: #d43f8d;
      background: -moz-linear-gradient(45deg,  #d43f8d 0%, #0250c5 100%);
      background: -webkit-linear-gradient(45deg,  #d43f8d 0%,#0250c5 100%);
      background: linear-gradient(45deg,  #d43f8d 0%,#0250c5 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d43f8d', endColorstr='#0250c5',GradientType=1 );
      border: none;
      .icon {
        background: none;
        transform: scale(1.2);
      }
      .price,
      .title,
      .desc {
        color: #fff;
      }
    }
  }
}

@keyframes sonarWave {
  from {
    opacity: 0.4;
  }
  to {
    transform: scale(1.8);
    opacity: 0;
  }
}

@keyframes sonarWave2 {
  from {
    opacity: 0.4;
  }
  to {
    transform: scale(2.2);
    opacity: 0;
  }
}