.section {
  position: relative;
  padding-top: 60px;
  padding-bottom: 60px;
  /*@include gradientv(#c7afe3, #e788de);*/

  @include media_min(md){
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @include media_min(xxl){
    padding-top: 90px;
  }

  .container {
    position: relative;
    z-index: 2;
  }
}

.section-bg {
  background: url(../img/new-images/section-bg.png) top center no-repeat;
  padding-top: 500px;
}

.si-1 {
  .si1-items {
    padding: 200px 0 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    @include media(lg) {
      padding:0;
    }
    &:after {
      content: '';
      display: table;
      clear: both;
    }
  }
  .si1-item {
    flex: 0 0 50%;
    width: 50%;
    padding: 10px;
    position: relative;
    @include media(lg) {
      display: flex;
      border: 1px dashed $priamary ;
      border-radius: 10px;
      width: 100%;
      flex: 0 0 100%;
      padding: 0px;
      margin-top: 45px;
      
    }
    &:before {
      content: '';
      position: absolute;      
      top: 6px;
      width: 258px;
      height: 258px;
      background: #ff78ae;
      background: -moz-linear-gradient(left,  $gradient-bottom 0%, $gradient-top 100%);
      background: -webkit-linear-gradient(left,  $gradient-bottom 0%,$gradient-top 100%);
      background: linear-gradient(to right,  $gradient-bottom 0%,$gradient-top 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff78ae', endColorstr='#7c74f8',GradientType=1 );
      -webkit-border-radius: 30px;
      border-radius: 30px;
      @include media(lg) {
        display: none;
      }
    }

    &:nth-child(1) .si1i-box1,
    &:nth-child(3) .si1i-box1 {
      float: right;
      @include media(lg) {
        float: initial;
      }
    }
    &:nth-child(2) .si1i-box1,
    &:nth-child(4) .si1i-box1 {
      float: left;
      @include media(lg) {
        float: initial;
      }
    }


    &:nth-child(1) {
      &:before {
        right: 6px;
      }

      .si1i-box1 {
        &:before,
        .counter {
          top: -25px;
          left: -25px;
          @include media(xs) {
            left: -15px;
            top: -15px;
          }
        }
      }

      .si1i-box2 { 
        bottom: 240px;
        right: 260px;
        border-top: none;
        border-right: none;
        border-bottom-left-radius: 25px;
        @include media(lg) {
          bottom: initial;
          right: initial;
          border-radius: 0;
          border-left: 1px dashed $priamary ;

        }
        &:before {
          left: -8px;
        }
      }
    }
    &:nth-child(2) {
      &:before {
        left: 6px;
      }

      .si1i-box1 {
        &:before,
        .counter {
          top: -25px;
          right: -25px;
          @include media(lg) {
            left:-25px;
          }
          @include media(xs) {
            left:-15px;
          }
          
        }
      }

      .si1i-box2 {
        bottom: 240px;
        left: 260px;
        border-top: none;
        border-left: none;
        border-bottom-right-radius: 25px;
        text-align: right;
        @include media(lg) {
          bottom: initial;
          left: initial;
          text-align: left;
          border-radius: 0;
          border-left: 1px dashed $priamary;
        }
        &:before {
          right: -8px;
        }
      }
    }
    &:nth-child(3) {
      &:before {
        right: 6px;
      }

      .si1i-box1 {
        &:before,
        .counter {
          bottom: -25px;
          left: -25px;
          @include media(lg) {
            top:-25px;
            bottom: auto;
          }
          @include media(xs) {
            top:-15px;
            left:-15px;
          }
          
        }
      }

      .si1i-box2 {
        bottom: 20px;
        right: 260px;
        border-top: none;
        border-right: none;
        border-bottom-left-radius: 25px;
        @include media(lg) {
          bottom: initial;
          right: initial;
          border-radius: 0;
          border-left: 1px dashed $priamary ;
        }
        &:before {
          left: -8px;
        }
      }
    }
    &:nth-child(4) {
      &:before {
        left: 6px;
      }

      .si1i-box1 {
        &:before,
        .counter {
          bottom: -25px;
          right: -25px;
          @include media(lg) {
            top:-25px;
            left: -25px;
            bottom: auto;
          }
          @include media(xs) {
            top:-15px;
            left: -15px;
          }
        }
      }

      .si1i-box2 {
        bottom: 20px;
        left: 260px;
        border-top: none;
        border-left: none;
        border-bottom-right-radius: 25px;
        text-align: right;
        @include media(lg) {
          bottom: initial;
          left: initial;
          text-align: left;
          border-radius: 0;
          border-left: 1px dashed $priamary ;
        }
        &:before {
          right: -8px;
        }
      }
    }
  }
  .si1i-box1 {
    width: 250px;
    height: 250px;
    background: #fff;
    position: relative; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    @include media(lg) {
      min-width: 25%;
      padding:15px;
      height: auto;
      text-align: center;
    }
    
    &:before {
      content: '';
      background: #fff1f7;
      display: block;
      width: 75px;
      height: 75px;
      transform: scale(1.5);
      position: absolute;
      z-index: -1;
      -webkit-border-radius: 10px;
      border-radius: 10px;
      @include media(lg) {
        width: 45px;
        height: 45px;
      }
      @include media(xs) {
        width: 35px;
        height: 35px;
      }
    }
    .counter {
      background: #fff;
      display: block;
      width: 75px;
      height: 75px;
      font-size: 30px;
      line-height: 75px;
      text-align: center;      
      position: absolute;
      z-index: 1;
      -webkit-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.08);
      box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.08);
      -webkit-border-radius: 10px;
      border-radius: 10px;
      @include media(lg) {
        font-size: 24px;
        line-height: 45px;
        width: 45px;
        height: 45px;
      }
      @include media(xs) {
        font-size: 18px;
        height: 35px;
        line-height: 35px;
        width: 35px;
      }
    }
    .text {
      font-size: 20px;
      color: #212529;
      text-transform: uppercase;
      padding-top: 15px;
      @include media(lg) {
        font-size: 14px;
      }
    }
  }
  .si1i-box2 {
    width: 250px;
    padding: 25px;
    border: 3px dashed $secondary;
    position: absolute;
    @include media(lg) {
      position: relative;
      bottom: 0;
      right: auto;
      width: auto;
      border:0;
      border-left: 2px dashed $priamary ;
      border-radius: 0;
      font-size: 12px;
      padding: 15px;
      h4{
        font-size: 16px;
      }
    }
    &:before {
      content: '';
      width: 15px;
      height: 15px;
      display: block;
      position: absolute;      
      top: -15px;     
      border: 3px solid $secondary;
      -webkit-border-radius: 25px;
      border-radius: 25px;
      @include media(lg) {
        display: none;
      }
    }
  }  
}

.icon-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  .icon {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background: linear-gradient(#fff,#fff) padding-box, 
    linear-gradient(to right, $gradient-bottom, $gradient-top) border-box;
    border: 2px dashed #fff;
    box-shadow: 0px 0px 15px rgba(295, 95, 168, .35);
    -webkit-border-radius: 50%;
    border-radius: 50%;
    span {
      padding-top: 15px;
      font-size: 22px;
      color: $secondary;
      @include media(lg) {
        font-size:16px;
      }     
      @include media(lg) {
        font-size:12px;
      }     
    }
  }
  .text {
    padding-top: 25px;
    font-size: 24px;
    font-weight: bold;
    color: #212529;
    @include media(lg) {
      font-size:16px;
    }
    @include media(xs) {
      font-size:12px;
    }
  }
}

.card-item {
  padding-bottom: 15px;
  .icon {
    position: relative;
    background: #fff;
    width: 90px;
    height: 90px;
    margin: 0 auto 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: 3px 0px 20px rgba(246, 52, 140, 0.2);
    box-shadow: 3px 0px 20px rgba(246, 52, 140, 0.2);
    -webkit-border-radius: 50%;
    border-radius: 50%;
    @include media(lg) {
      margin-bottom: 15px;
    }
    &:after {
      content: '';
      width: 3px;
      height: 120px;
      display: block;
      border-left: 3px dashed $secondary;
      position: absolute;
      top: calc(100% + 5px);
      @include media(lg) {
        height: 30px;
      }
    }
  }
  .image {
    padding-top: 25px;
    img {
      display: inline-block;
      -webkit-box-shadow: 3px 10px 16px rgba(188, 188, 188, 0.6);
      box-shadow: 3px 10px 16px rgba(188, 188, 188, 0.6);
      -webkit-border-radius: 10px;
      border-radius: 10px;
    }
  }
  .title {
    padding-top: 25px;
    font-size: 20px;
    font-weight: 500;
    color: #212529;
    text-transform: uppercase;
    @include media(lg) {
      font-size:16px;
    }
  }
  .desc {
    padding-top: 25px;
    font-size: 15px;
    color: #686868;
    opacity: .8;
  }
}

.section-line-bg {
  background: url(../img/new-images/curve-shape-line.png) center top no-repeat;
  margin-top: 100px;
  @include media(lg) {
    background-image: none;
    margin-top: 0;
  }
}

.companyh-1,
.companyh-2,
.companyh-3 {
  position: relative;
  max-width: 280px;
  margin: 0 auto;
  @include media(lg) {
    top:0!important;
  }
}
.companyh-1 {  
  top: 150px;
}
.companyh-2 {
  top: 70px;
}
.companyh-3 {
  top: -80px;
}

.section-howitworks {
  position: relative;
  margin-top: 150px;
  margin-bottom: 100px;
  @include media(lg) {
    margin-top: 25px;
    margin-bottom: 0px;
    @include flexbox();
    @include flex-direction(column);
    >svg{
      display: none;
    }
  }
  @include media(xs) {
    margin-top: 0;
  }

  .hiw-title {    
    width: 420px;
    font-size: 40px;
    font-weight: bold;
    color: #ec77ab;
    position: absolute;
    left: -100px;
    top: -100px;
    @media (min-width: 1470px) {
      font-size: 60px;
    }
    @include media(lg) {
      left: initial;
      position: relative;
      top: initial;
      width: auto;
      order: -1;
      margin-bottom: 25px;
      font-size: 20px;
    }
    &:before {
      background: url(../img/new-images/quotes-icon.png);
      background-size: cover;
      content: "";
      display: block;
      height: 170px;
      opacity: .1;
      width: 200px;
      @include media(lg) {
        height: 80px;
        width: 100px;
      }
    }
  }
  .hiw-item {
    position: absolute;
    width: 240px;
    @include media(lg) {
      position: relative;
      width: auto!important;
      left:initial!important;
      top:initial!important;
      bottom:initial!important;
      right:initial!important;
      padding-left: 45px;
      &+.hiw-item{
        margin-top: 25px;
      }
    }
    &:before {
      content: '';
      position: absolute;
      width: 240px;
      height: 120px;
      @media (max-width: 1469px) {
        width: 150px;
      }
      @include media(lg) {
        display: none!important;
      }
    }
    &:after {
      content: '';
      display: block;
      width: 18px;
      height: 18px;
      position: absolute;
      border: 3px solid $secondary;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      @include media(lg) {
        display: none!important;
      }
    }
  }
  .hiw-item .counter {
    font-size: 42px;
    color: #ec77ab;
    position: absolute;
    left: -60px;
    top: -10px;
    @include media(lg) {
      font-size: 18px;
      border: 1px solid $priamary;
      width: 30px;
      height: 30px;
      left: 0;
      top: 0; 
      text-align: center;
      line-height: 30px;
      border-radius: 4px;
    }
  }
  .hiw-item .title {
    font-size: 22px;
    font-weight: 500;
    color: #212529;
    text-transform: uppercase;
    @include media(lg) {
      font-size: 16px;
    }
  }
  .hiw-item .desc {
    padding-top: 10px;
    font-size: 18px;    
    color: #686868;
    opacity: 0.8;
    @include media(lg) {
      font-size: 14px;
    }
  }
  .hiw-1 {
    top: -70px;
    right: -200px;
   
    &:before {
      height: 30px;
      top: 50px;
      left: -280px;
      border-top-left-radius: 15px;
      border-top: 3px dashed $secondary;
      border-left: 3px dashed $secondary;
      @media (max-width: 1469px) {
        left: -200px;
      }
      @media (max-width: 1469px) {
        left: -200px;
      }
     
    }
    &:after {
      top: 42px;
      left: -42px;
    }
  }
  .hiw-2 {
    top: 160px;
    right: -340px;
    @media (max-width: 1469px) {
      top: 110px;
      right: -260px;
    }
    &:before {
      width: 110px;
      height: 3px;
      top: 50px;
      left: -155px;
      border-top-left-radius: 15px;
      border-top: 3px dashed $secondary;
      border-left: 3px dashed $secondary;
      @media (max-width: 1469px) {
        left: -75px;
        width: 30px;
      }
    }
    &:after {
      top: 42px;
      left: -42px;
    }
  }
  .hiw-3 {
    top: 470px;
    right: -340px;
    @media (max-width: 1469px) {
      top: 300px;
      right: -260px;
    }
    &:before {
      width: 110px;
      height: 3px;
      top: 50px;
      left: -155px;
      border-top-left-radius: 15px;
      border-top: 3px dashed $secondary;
      border-left: 3px dashed $secondary;
      @media (max-width: 1469px) {
        left: -75px;
        width: 30px;
      }
    }
    &:after {
      top: 42px;
      left: -42px;
    }
  }
  .hiw-4 {
    top: 700px;
    right: -210px;
    @media (max-width: 1469px) {
      right: -220px;
      top: 455px;
    }
    &:before {    
      height: 30px;  
      top: 23px;
      left: -280px;
      border-bottom-left-radius: 15px;
      border-bottom: 3px dashed $secondary;
      border-left: 3px dashed $secondary;
      @media (max-width: 1469px) {
        left: -190px;
      }
    }
    &:after {
      top: 42px;
      left: -42px;
    }
  }
  .hiw-5 {
    top: 700px;
    left: -210px;
    @media (max-width: 1469px) {
      top: 460px;
    }
    .counter {
      left: auto;
      right: -60px;

      @include media(lg) {
        left: 0;
        top: 0; 
        right:auto;
      }
    }
    &:before {    
      height: 30px;  
      top: 23px;
      right: -280px;
      border-bottom-right-radius: 15px;
      border-bottom: 3px dashed $secondary;
      border-right: 3px dashed $secondary;
      @media (max-width: 1469px) {
        right: -194px;
      }
    }
    &:after {
      top: 42px;
      right: -42px;
    }
  }
  .hiw-6 {
    top: 500px;
    left: -320px;
    @media (max-width: 1469px) {
      top: 220px;
      left: -270px;
    }
    .counter {
      left: auto;
      right: -60px;
      @include media(lg) {
        left: 0px;
        top: 0px;
        right:auto;
      }
    }
    &:before {
      width: 110px;
      height: 3px;
      top: 50px;
      right: -150px;
      border-top-right-radius: 15px;
      border-top: 3px dashed $secondary;
      border-right: 3px dashed $secondary;
      @media (max-width: 1469px) {
        right: -66px;
        width: 26px;
      }
    }
    &:after {
      top: 42px;
      right: -42px;
    }
  }
}

.pricing-plans {
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  max-width: 1030px;
  margin: auto;
  @include media(sm) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  @include media(xs) {
    flex-direction: column;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .pricing-plan {
    display: flex;
    flex-direction: column;
    padding: 50px;
    background: #fff;
    border: 3px dashed #d1a1e3;
    -webkit-box-shadow: 3px 0 24px rgba(74, 74, 74, .2);
    box-shadow: 3px 0 24px rgba(74, 74, 74, .2);
    -webkit-border-radius: 11px;
    border-radius: 11px;
    @include media(lg) {
      padding: 20px;
    }
    .icon {
      background: #fff;
      margin: 25px auto;
      width: 95px;
      height: 95px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      @include media(sm) {
        margin-top: 0;
        margin-bottom: 0;
      }
    }

    .price {
      padding-top: 20px;
      font-size: 42px;
      color: #ff137c;
      @include media(lg) {
        font-size: 22px;
      }
      @include media(sm) {
        padding-top: 0;
      }
    }
    .title {
      padding-top: 20px;
      font-size: 30px;
      font-weight: 500;
      color: #212529;
      text-transform: uppercase;
      @include media(lg) {
        font-size: 18px;
        padding-top: 15px;
      }
      @include media(sm) {
        font-size: 14px;
      }
    }
    .desc {
      padding-top: 20px;
      font-size: 15px;
      color: #686868;
      opacity: .8;
      @include media(sm) {
        font-size: 12px;
      }
    }

    &.pp2 {
      position: relative;
      transform: scale(1.1);
      background: #d43f8d;
      background: -moz-linear-gradient(45deg,  #d43f8d 0%, #0250c5 100%);
      background: -webkit-linear-gradient(45deg,  #d43f8d 0%,#0250c5 100%);
      background: linear-gradient(45deg,  #d43f8d 0%,#0250c5 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d43f8d', endColorstr='#0250c5',GradientType=1 );
      border: none;
      .icon {
        background: none;
        transform: scale(1.2);
      }
      .price,
      .title,
      .desc {
        color: #fff;
      }
      @include media(xs) {
        transform: scale(1);
        margin-top: 15px;
        margin-bottom: 15px;
      }
    }
  }
}

@keyframes sonarWave {
  from {
    opacity: 0.4;
  }
  to {
    transform: scale(1.8);
    opacity: 0;
  }
}

@keyframes sonarWave2 {
  from {
    opacity: 0.4;
  }
  to {
    transform: scale(2.2);
    opacity: 0;
  }
}