.section-i2 {
  background: #f4effc;
  padding: 60px 0 30px;
  position: relative;
  &:before,
  &:after {
    content: '';
    display: block;
    width: 100%;
    position: absolute;
    z-index: 0;
    min-height: 60px;
    @include media_min(md) {
      min-height: 90px;
    }
    @include media_min(xl) {
      min-height: 120px;
    }
  }
  &:before {    
    background: url(../../../assets/img/new/wave-1.svg) bottom center no-repeat;
    background-size: 100%;
    transform: rotate(180deg);    
    top: -1px;    
  }
  &:after {
    background: url(../../../assets/img/new/wave-2.svg) bottom center no-repeat;
    background-size: 100%;
    bottom: -1px;
  }
  .container {
    position: relative;
    z-index: 1;
  }

  @include media_min(sm) {
    padding: 100px 0 60px;
  }
  @include media_min(md) {
    padding: 120px 0 80px;
  }
  @include media_min(lg) {
    padding: 120px 0 80px;
  }
  @include media_min(xl) {
    padding: 140px 0 100px;
  }
  @include media_min(xxl) {
    padding: 200px 0 160px;
  }
}

.card-feature {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;  

  .cf-item {
    padding: 15px 15px;
    text-align: center;    
    flex-shrink: 0;    
    width: 100%;
    max-width: 100%;
  }
  .cfi-inner {
    background: #fff;
    padding: 30px 15px;    
    height: 100%;
    -webkit-box-shadow: 0px 5px 15px rgba(0,0,0,.1);
    box-shadow: 0px 5px 15px rgba(0,0,0,.1);
    -webkit-border-radius: 25px;
    border-radius: 25px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    &:hover {
      transform: translateY(-10px);
    }
  }
  .img {
    display: block;
    padding-top: 10px;
  }
  h4 {
    margin: 0;
    padding-top: 20px;
    font-size: 20px;
    font-weight: 600;
  }
  p {
    padding-top: 10px;
    font-size: 20px;
  }
  @include media_min(md) {
    flex-direction: row;
    margin-left: -15px;
    margin-right: -15px;
    .cf-item {
      flex: 0 0 auto;
      max-width: 25%;
    }
  }
}

.section-i4 {
  background: #e9f4ff;
  padding: 200px 0 100px;
  position: relative;
  &:before {
    content: '';
    background: url(../../../assets/img/new/wave-1.svg) bottom center no-repeat;
    background-size: 100%;
    display: block;
    width: 100%;
    min-height: 120px;
    transform: rotate(180deg);
    position: absolute;
    top: 0;
    z-index: 0;
  }
  .container {
    position: relative;
    z-index: 1;
  }
}

.api-steps {
  padding-top: 25px;
  .apis-items {
    position: relative;
    background: transparent;
    border: 2px solid #a179eb;
    height: auto;
    padding-top: 100%;
    width: 100%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    h4, p {
      color: #a179eb;
    }
    &.apis-items-2 {
      border-color: #73bc44;
      h4, p {
        color: #73bc44;
      }
    }
    &.apis-items-3 {
      border-color: #29a9e1;
      h4, p {
        color: #29a9e1;
      }
    }
  }
  .apisi-inner {
    position: absolute;
    width: 70%;
    top: 50%;
    left: 50%;
    margin-left: -35%;
    transform: translateY(-50%);
    text-align: center;
    h4 {
      font-size: 24px;
      font-weight: 600;
    }
    p {
      font-size: 16px;
      line-height: 20px;
    }
  }
  .apisi-count {
    position: absolute;
    top: 50%;
    left: -50px;
    transform: translateY(-50%);
  }
}


.section-i5 {
  background: #fff;
  padding: 80px 0 80px;
  position: relative;
  &:before {
    content: '';
    background: #383e4c;
    background: -moz-radial-gradient(center, ellipse cover,  #383e4c 0%, #0b0917 100%);
    background: -webkit-radial-gradient(center, ellipse cover,  #383e4c 0%,#0b0917 100%);
    background: radial-gradient(ellipse at center,  #383e4c 0%,#0b0917 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#383e4c', endColorstr='#0b0917',GradientType=1 );
    display: block;
    width: 100%;
    min-height: 460px;
    position: absolute;
    top: 0;
    z-index: 0;
  }
  .container {
    position: relative;
    z-index: 1;
  }  
}