.contact-section {
  padding-top: 25px;
  padding-bottom: 50px;

  background: url(../img/contact-bg.png) left center no-repeat;

  @include media_min(md){
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.technical-section {
  padding: 50px 20px;
  background: url(../img/technical-bg.png) right center no-repeat;
  background-size: 100%;
  text-align: center;
  width: 280px;
  margin: 0 auto;

  @include media_min(md){
    padding: 200px 50px;
    background-size: auto;
    text-align: right;
    width: auto;
    margin: 0;
  }

  h5 {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.3;
    color: #000;

    @include media_min(md){
      font-size: 32px;
      margin-bottom: 30px;
      line-height: 1.5;
    }
  }

  p {
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: normal;
    line-height: 1.3;
    color: #686868;

    @include media_min(md){
      font-size: 18px;
      line-height: 1.5;
    }
  }
}