.industries-lists {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    .industries-item {
        margin: 0;
        padding: 15px 0;
        flex: 1 0 100%;
        width: 100%;
        max-width: 100%;        
        &:nth-child(8n + 1) .industries-inner {
            background: #091e42;
        }
        &:nth-child(8n + 2) .industries-inner {
            background: #0065ff;
        }
        &:nth-child(8n + 3) .industries-inner {
            background: #36b37e;
        }
        &:nth-child(8n + 4) .industries-inner {
            background: #ffab00;
        }
        &:nth-child(8n + 5) .industries-inner {
            background: #ff5630;
        }
        &:nth-child(8n + 6) .industries-inner {
            background: #6554c0;
        }
        &:nth-child(8n + 7) .industries-inner {
            background: #00b8d9;
        }
        &:nth-child(8n + 8) .industries-inner {
            background: #ebecf0;
        }
        @include media_min(md) {
            padding: 15px;
            flex: 0 0 auto;
            width: 50%;
            max-width: 100%;
            .desc {
                height: 0;
                opacity: 0;
                visibility: hidden;
            }
        }
        @include media_min(xxl) {
            flex: 0 0 auto;
            width: 33.33%;
            max-width: 100%;
        }
    }
    .industries-inner {
        margin: 0;
        padding: 50px 50px;
        overflow: hidden;
        background: #000;
        position: relative;        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        -webkit-border-radius: 15px;
        border-radius: 15px;
        .image {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate3d(-50%, -50%, 0);
            opacity: 0.3;
            z-index: 1;
            -webkit-transition: opacity .3s ease-in-out;
            transition: opacity .3s ease-in-out;
        }
        .info {
            position: relative;
            z-index: 2;
            width: 100%;
        }
        @include media_min(md) {
            min-height: 400px;
            &:hover {
                .image {
                    opacity: 0.1;
                }
                .desc {
                    height: auto;
                    max-height: 45rem;
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
    .icon {
        padding-bottom: 10px;
    }
    h4 {
        margin: 0;
        padding: 0;
        padding-bottom: 10px;
        font-size: 22px;
        color: #fff;
    }
    p {
        margin: 0;
        margin-bottom: 15px;
        padding: 0;        
        font-size: 16px;
        color: #fff;
        &.text {
            -webkit-box-orient: vertical;
            display: -webkit-box;
            overflow: hidden;
            -webkit-line-clamp: 4;
        }
    }    
}