.privacy-section {
  padding-top: 100px;
  padding-bottom: 100px;

  @include media(md){
    padding-top: 30px;
    padding-bottom: 50px;
  }

  .last-updated {
    margin: 0 0 50px;
    padding: 12px 20px;
    background: #f9f8fa;
    border: 1px solid #ececec;
    font-size: 16px;
    color: #979da2;
    display: inline-block;
    @include border-radius(10px);

    strong {
      font-size: 18px;
      font-weight: bold;
      color: #ff098e;
    }

    @include media(md){
      margin-bottom: 25px;
      font-size: 13px;

      strong {
        font-size: 14px;
      }

    }
  }

  h4 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 18px;
    color: #0c1821;
  }

  p {
    margin: 0 0 30px;
    padding: 0;
    font-size: 16px;
    color: #728391;
  }

  a {
    color: #ff098e;
  }

  ul {
    margin: 0 0 25px 25px;
    padding: 0;
    list-style: disc;

    li {
      margin: 0;
      padding: 5px 0;
      color: #728391;
    }
  }
}