.pricing-section {
  padding-top: 50px;
  padding-bottom: 100px;

  @include media(md){
    padding-bottom: 50px;
  }

  .header-style-2 {
    p {
      font-size: 30px;
      font-weight: 300;
      color: #000;

      @include media(md){
        font-size: 18px;
      }

    }
  }
}

.pricing-tabs {
  max-width: 380px;
  margin: 50px auto 75px;
  padding: 1px;
  display: none;
  border: 2px solid #dee0e2;
  @include border-radius(35px);

  @include media(md){
    margin: 25px auto 0;
    display: flex;
    flex-direction: row;
  }

  a {
    padding: 12px 20px;
    font-size: 24px;
    font-weight: 500;
    color: #787c83;
    text-align: center;
    width: 50%;
    border: 1px solid #fff;
    @include border-radius(30px);

    @include media(md){
      font-size: 18px;
    }

    &.active {
      color: #000000;
      border: 1px solid #dee0e2;
      background: #f6c8f6;
      background: -moz-linear-gradient(45deg,  #f6c8f6 1%, #dadffa 51%, #f1f4f9 100%);
      background: -webkit-linear-gradient(45deg,  #f6c8f6 1%,#dadffa 51%,#f1f4f9 100%);
      background: linear-gradient(45deg,  #f6c8f6 1%,#dadffa 51%,#f1f4f9 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6c8f6', endColorstr='#f1f4f9',GradientType=1 );
    }
  }

  .ptabs {
    padding: 12px 15px;
    font-size: 18px;
    font-weight: 500;
    color: #787c83;
    text-align: center;
    width: 50%;
    border: 1px solid #fff;
    @include border-radius(30px);

    @include media(md){
      font-size: 14px;
    }

    &.active {
      color: #000000;
      border: 1px solid #dee0e2;
      background: #f6c8f6;
      background: -moz-linear-gradient(45deg,  #f6c8f6 1%, #dadffa 51%, #f1f4f9 100%);
      background: -webkit-linear-gradient(45deg,  #f6c8f6 1%,#dadffa 51%,#f1f4f9 100%);
      background: linear-gradient(45deg,  #f6c8f6 1%,#dadffa 51%,#f1f4f9 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6c8f6', endColorstr='#f1f4f9',GradientType=1 );
    }
  }
}

.pricing-plan {
  margin: 0;
  padding: 0;
  padding-top: 25px;
  /*flex-direction: column;*/

  @include media_min(md){
    display: flex;
    flex-direction: row;
  }

  .slick-track {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
  }

  .pricing-plan-item {
    margin: 0;
    padding: 0 5px;
    width: 33.33%;
    height: auto;
    display: none;

    &.active {
      display: block;
    }

    @include media_min(lg){
      display: block;
    }

    &:nth-child(1n){
      animation-delay: 0.05s;
    }

    &:nth-child(2n){
      animation-delay: 0.10s;
    }

    &:nth-child(3n){
      animation-delay: 0.15s;
    }

    @include media(md){
      width: 100%;
      margin-bottom: 25px;
    }
  }

  .plan-inner {
    height: 100%;
    background: #fff;
    padding: 8px;
    text-align: center;
    @include border-radius(10px);
    position: relative;

    &:before,
    &:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 0;
      opacity: 0;
      visibility: hidden;
      @include animateEaseIn(0.3s);
    }
    &:before {
      @include border-radius(10px);
      @include gradient(#bfd9fe, #df89b5);
    }
    &:after {
      left: 8px;
      right: 8px;
      top: 8px;
      bottom: 8px;
      border: 1px solid #aac4f0;
      background: #f6c8f6;
      background: -moz-linear-gradient(45deg,  #f6c8f6 0%, #daddfa 50%, #f1f4f9 100%);
      background: -webkit-linear-gradient(45deg,  #f6c8f6 0%,#daddfa 50%,#f1f4f9 100%);
      background: linear-gradient(45deg,  #f6c8f6 0%,#daddfa 50%,#f1f4f9 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6c8f6', endColorstr='#f1f4f9',GradientType=1 );
    }

    .inner-border {
      position: relative;
      z-index: 2;
      height: 100%;
      padding: 50px;
      /*border: 1px solid #fff;
      background: #fff;*/

      @include media(md){
        padding-left: 15px;
        padding-right: 15px;
      }
    }

    .thumb {
      padding: 20px 0 50px;
      text-align: center;

      img {
        margin: 0 auto;
      }
    }

    .price {
      padding-bottom: 15px;
      color: #283d88;
      font-size: 30px;
      font-weight: normal;

      strong {
        font-size: 50px;
      }
    }

    h5 {
      padding-bottom: 15px;
      font-size: 34px;
      font-weight: 300;
      color: #000;
    }

    p {
      color: #000;
      opacity: .7;
    }

    .action {
      padding-top: 15px;
    }


    &:hover,
    &.active {

      &:before,
      &:after {
        opacity: 1;
        visibility: visible;
      }
      /*@include gradient(#bfd9fe, #df89b5);

      .inner-border {
        border-color: #aac4f0;
        background: #f6c8f6;
        background: -moz-linear-gradient(45deg,  #f6c8f6 0%, #daddfa 50%, #f1f4f9 100%);
        background: -webkit-linear-gradient(45deg,  #f6c8f6 0%,#daddfa 50%,#f1f4f9 100%);
        background: linear-gradient(45deg,  #f6c8f6 0%,#daddfa 50%,#f1f4f9 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6c8f6', endColorstr='#f1f4f9',GradientType=1 );
      }*/
    }

    @include media(lg){
      &:before,
      &:after {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

.pricing-section2 {
  position: relative;
  padding-top: 350px;
  padding-bottom: 100px;
  background: #eae9ef;

  @include media(md){
    padding-top: 20%;
    padding-bottom: 50px;
  }

  .container {
    position: relative;
    z-index: 2;
  }

  &:after {
      content: '';
      background: url(../img/pricing-wave.png) center top no-repeat;
      background-size: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 100%;
      z-index: 1;
  }
}

.ready-subscription {
  padding-top: 150px;
  text-align: center;

  @include media(md){
    padding-top: 50px;
  }

  h4 {
    margin-bottom: 25px;
    font-size: 42px;
    font-weight: 500;
    color: #000000;

    @include media(md){
      font-size: 22px;
      margin-bottom: 15px;
    }
  }

  a {
    font-size: 20px;
    margin: 5px 15px;
    color: #000000;

    &.button {
      color: #fff;
      @include border-radius(30px);

      @include media(sm){
        @include border-radius(50px);
      }
    }    
  }
}

.help-section {
  padding-top: 50px;
  padding-bottom: 25px;

  @include media_min(md){
    padding-top: 100px;
    padding-bottom: 150px;
  }

  .accordion {
    padding-top: 0;
    padding-bottom: 25px;

    @include media_min(md){
      padding-top: 25px;
    }
  }
}