.section-thumb{
  height: 95px;
  width: 95px;
  border-radius: 100%;
  box-shadow: 0 0 30px rgb(184 124 214 / 48%);
  margin-bottom: 35px;
}
.hiw-top{
  &:before{
    background: url(../img/new-images/laptop.png);
    content: "";
    display: block;
    position: absolute;
    left:0;
    top:0;
  }
}