.section-thumb {
  height: 95px;
  width: 95px;
  border-radius: 100%;
  box-shadow: 0 0 30px rgb(184 124 214 / 48%);
  margin-bottom: 35px;
  padding: 16px;
  background-color: #fff;
  @include media(md) {
    height: 75px;
    width: 75px;
  }
  > img {
    height: auto;
    max-width: 100%;
  }
}
.hiw-top {
  position: relative;
  z-index: 5;
}
.bg-dot-right-top {
  &:before {
    background: url(../img/new-images/bg-dot.png);
    background-size: contain;
    content: "";
    display: block;
    height: 320px;
    position: absolute;
    right: -10px;
    top: 0;
    width: 160px;
    @include media(lg) {
      width: 70px;
    }
    @include media(sm) {
      display: none;
    }
  }
}
.bg-dot-left-top {
  &:after {
    background: url(../img/new-images/bg-dot.png);
    background-size: contain;
    content: "";
    display: block;
    position: absolute;
    left: 5%;
    height: 100px;
    width: 100px;
    top: 24px;
    z-index: -1;
    @include media(lg) {
      height: 80px;
      top: 4px;
      width: 70px;
    }
    @include media(sm) {
      display: none;
    }
  }
}
.bg-dot-left-bottom {
  &:after {
    background: url(../img/new-images/bg-dot.png);
    background-size: contain;
    bottom: 24px;
    content: "";
    display: block;
    height: 210px;
    left: -70px;
    position: absolute;
    width: 140px;
    z-index: -1;
    @include media(lg) {
      height: 80px;
      bottom: 4px;
      width: 70px;
    }
    @include media(sm) {
      display: none;
    }
  }
}
.cruved-dot-left-top {
  position: relative;
  &:after {
    background: url(../img/new-images/bg-dot.png);
    background-size: contain;
    content: "";
    display: block;
    height: 230px;
    position: absolute;
    left: 10%;
    top: 110px;
    width: 160px;
    z-index: -1;
    @include media(xl) {
      top: 40px;
    }
    @include media(lg) {
      width: 50px;
    }
  }
}
.curved-section.curved-theme {
  &:before {
    background-image: url(../img/new-images/curve-bg-theme.png);
    height: 470px;
    @include media(xl) {
      height: 300px;
    }
    @include media(lg) {
      height: 200px;
    }
    @include media(sm) {
      height: 100px;
    }
    @include media(xs) {
      height: 60px;
    }
  }
  .curved-inner {
    background-image: linear-gradient(#eee7ec, #fff);
  }
}
section.curved-theme {
  padding-top: 0;
}
// .header-inner-content{
//   min-height: 70vh;
//   height: 230px;
// }
