.nav-tabs-theme {
  background-image: linear-gradient(to left, $gradient-top, $gradient-bottom);
  padding: 25px 40px;
  border-radius: 10px;
  @include media(md) {
    padding: 15px;
  }
  @include media(sm) {
    min-width: 500px;
  }
  .nav-item {
    flex: 1;
    text-align: center;
    & + .nav-item {
      margin-left: 35px;
      @include media(lg) {
        margin-left: 15px;
      }
    }
    .nav-link {
      font-weight: bold;
      border-radius: 7px;
      border: none;
      color: #fff;
      font-size: 16px;
      letter-spacing: 1px;
      transition: 0.2s ease all;
      &.active,
      &:hover {
        color: #fff;
        background-color: rgba(255, 255, 255, 0.2);
      }
      @include media(lg) {
        font-size: 14px;
      }
      @include media(sm) {
        font-size: 12px;
        padding-left: 5px;
        padding-right: 5px;
      }
    }
  }
}
.nav-tabs-theme-container {
  @include media(md) {
    overflow-y: hidden;
    overflow-x: auto;
  }
}
.img-tooltip {
  position: relative;
  width: 500px;
  .img-tooltip-item {
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 300px;
    height: 80px;
    @include media(xl) {
      width: 250px;
    }
    @include media(lg) {
      width: 200px;
    }
    @include media(xs) {
      width: 110px;
    }
    .media-body {
      width: 250px;
      height: 80px;
      background: $priamary;
      flex: inherit;
      color: #fff;
      font-size: 18px;
      padding: 15px;
      border-radius: 7px;
      @include media(xl) {
        font-size: 14px;
        width: 200px;
        height: 70px;
      }
      @include media(lg) {
        width: 150px;
        font-size: 12px;
        height: 60px;
      }
      @include media(xs) {
        font-size: 10px;
        height: 65px;
        width: 110px;
        padding: 12px;
      }
    }
    > img {
      z-index: 2;
      position: absolute;
      left: -40px;
      top: -40px;
      @include media(md) {
        left: -20px;
        top: -20px;
        max-width: 50px;
      }
    }
    &--left--top {
      top: 140px;
      transform: translateX(240px);
      @include media(xl) {
        top: 90px;
        transform: translateX(180px);
      }
      @include media(lg) {
        top: 50px;
        transform: translateX(140px);
      }
      @include media(xs) {
        transform: translateX(90px);
      }
    }
    &--left--bottom {
      top: auto;
      bottom: 100px;
      transform: translateX(240px);
      @include media(xl) {
        bottom: 50px;
        transform: translateX(180px);
      }
      @include media(lg) {
        bottom: 20px;
        transform: translateX(140px);
      }
      @include media(xs) {
        transform: translateX(90px);
      }
    }
    &--right--bottom {
      bottom: 100px;
      top: auto;
      transform: translateX(-190px);
      > img {
        right: 10px;
        left: auto;
        @include media(md) {
          right: 30px;
        }
        @include media(xs) {
          right: -20px;
        }
      }
      @include media(xl) {
        bottom: 70px;
        transform: translateX(-130px);
      }
      @include media(lg) {
        bottom: 30px;
        transform: translateX(-80px);
      }
      @include media(xs) {
        transform: translateX(-90px);
      }
    }
    &--right--center {
      bottom: 0;
      top: 0;
      transform: translateX(-190px);
      margin: auto;
      > img {
        right: 10px;
        left: auto;
        @include media(md) {
          right: 30px;
        }
        @include media(xs) {
          right: -20px;
        }
      }
      @include media(xl) {
        transform: translateX(-130px);
      }
      @include media(lg) {
        transform: translateX(-90px);
      }
    }
  }

  @include media(xl) {
    width: 320px;
  }
  @include media(sm) {
    margin-left: auto;
    margin-right: auto;
  }
  @include media(xs) {
    width: 200px;
  }
}
.features-top {
  position: relative;
  .nav-tabs-theme {
    position: relative;
    &::before {
      background: url(../img/new-images/bg-dot.png);
      background-size: contain;
      content: "";
      display: block;
      height: 265px;
      left: -15%;
      position: absolute;
      top: 110px;
      width: 130px;
      z-index: -1;
    }
  }
}
