* {
    -webkit-tap-highlight-color: none;
    outline: none;
    &:hover,
    &:focus {
        outline: none;
    }
}

img {
    max-width: 100%;
    height: auto;
}

a,
button {
    cursor: pointer;
}

*[data-animate="fadeInUp"] {
    opacity: 0;
}

*[data-animate="fadeIn"] {
    opacity: 0;
}

*[data-animate="slideInLeft"] {
    -webkit-transform: translate3d(-150%, 0, 0);
    transform: translate3d(-150%, 0, 0);
}

*[data-animate="slideInRight"] {
    -webkit-transform: translate3d(150%, 0, 0);
    transform: translate3d(150%, 0, 0);
}

*[data-animate="slideInUp"] {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

@include media_min(xxl) {
    .container {
        max-width: 1380px;
    }
    .container-1600 {
        max-width: 1600px;
    }
}

#main {
    width: 100%;
    position: relative;
    overflow: hidden;
}

#content {
    min-height: 760px;
}

.header-style-1 {
    padding-top: 120px;
    padding-bottom: 25px;
    position: relative;
    @include media_min(md) {
        padding-top: 180px;
        min-height: 800px;
    }
    @include media_min(lg) {
        padding-top: 230px;
        padding-bottom: 100px;
        min-height: 860px;
    }
    @media (min-width: 1921px) {
        min-height: 1000px;
    }
    @media (min-width: 2100px) {
        min-height: 1070px;
    }
    @media (min-width: 2300px) {
        min-height: 1200px;
    }
    .container-fluid {
        position: relative;
        z-index: 1;
    }
    .header__title {
        position: relative;
        padding-top: 40px;
        h1 {
            margin-bottom: 40px;
            font-size: 42px;
            line-height: 1.3;
            font-weight: 500;
            color: #000000;
        }
    }
    &.inner-title {
        padding: 100px 20px 100px;
        @include media_min(md) {
            padding: 150px 25px 120px;
            min-height: auto;
        }
        @include media_min(lg) {
            padding-top: 180px;
            padding-bottom: 150px;
        }
        @include media_min(xl) {
            padding-top: 250px;
            padding-bottom: 250px;
        }
        h1 {
            margin-bottom: 15px;
        }
        p {
            font-size: 18px;
            line-height: 32px;
            color: #fff;
            margin-bottom: 20px;
        }
        .side-img {
            @include media_min(xl) {
                position: absolute;
                right: 0;
            }
        }
    }
    @include media_min(md) {
        padding-left: 90px;
        padding-right: 90px;
    }
}

.header__img_bottom {
    padding: 0 20px;
    position: relative;
    z-index: 99;
    height: 200px;
    transform: translateY(-60px);
    @include media_min(sm) {
        height: 320px;
        transform: translateY(-60px);
    }
    @include media_min(md) {
        height: 520px;
        transform: translateY(-60px);
    }
    @include media_min(lg) {
        height: 520px;
        transform: translateY(-60px);
    }
    @include media_min(xl) {
        height: 400px;
        transform: translateY(-220px);
    }
    @include media_min(xxl) {}
}

.modal-dialog {
    max-width: 720px;
    .modal-content {
        background: #ceccdb;
        border: none;
        position: relative;
    }
    .modal-body {
        position: relative;
        z-index: 2;
        padding: 15px;
        @include media_min(md) {
            padding: 80px;
        }
    }
    h3 {
        margin: 0;
        padding: 0;
        padding-bottom: 15px;
        font-size: 24px;
        font-weight: 300;
        color: #fff;
    }
    .close {
        width: 45px;
        height: 45px;
        padding: 12px;
        position: absolute;
        right: 15px;
        top: 15px;
        background: none;
        border: none;
        color: #fff;
        outline: none;
        svg {
            width: 100%;
            height: 100%;
        }
    }    
}