.hidden{overflow:hidden;}

.no-js #loader {
  display: none;
}

.js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0;
}

.page-loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
  background: #fff;
  
  span {
    width: 100px;
    height: 100px;
    text-align: center;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -50px;
    margin-top: -50px;
  }
}
#header {
  padding: 25px;
  display: flex;
  flex-direction: row;
  
  @include media(md){
	padding-left: 15px;
	padding-right: 15px;
  }

  &.sticky {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 3;
  }

  .logo {
    width: 250px;
	
	@include media(md){
		width: 180px;
	}
  }  

  .phone {
    margin-left: 50px;
    margin-top: 40px;
    padding: 5px 0px 15px;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 0px 1px 2px rgba(0,0,0,.3);

    .svg-phone {
      width: 32px;
      height: 38px;
      margin-right: 5px;
      vertical-align: middle;
	  
	  @include media(md){
		width: 24px;
		height: 26px;
	  }
    }

    a {
      color: #ffffff;
    }
	
	@media (max-width: 1299px){
		position: absolute;
		z-index: 2;
		right: 25px;
		top: 15px;
		margin: 0;
		padding: 0;		
	}

	@include media(md){
		font-size: 14px;
	}
  }

  .header-right {
    flex-grow: 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 40px;
	
	@include media(md) {
		margin-top: 25px;
	}

    .btn-get-quote {
	  @include media_min(lg){
		img {
			display:none;
		}
	  }
	  
      @include media(md){
		margin-right: 5px;
		background: none;
		padding: 0;
		box-shadow: none;
		text-shadow: none;
		
		span {
			display: none;
		}
	  }
    }
  }

  #desktop-nav {
    @include media(md){
      display: none;
    }
  }

  .mobile-nav__toggle {
	order: 2;
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
	opacity: .5;
	
	svg {
		width: 30px;
		height: 30px;
		margin-top: 10px;
	}

    @include media_min(lg) {
      display: none;
    }
  }

  .navigation {    

    ul {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;      

      li {
        margin: 0;

        a {
          display: block;
          padding: 15px 20px;
          font-size: 18px;
          line-height: 1.3;
          color: rgba(255,255,255,.81);

          &:hover {
            color: #fff;
          }
        }
      }      
    }

    @include media_min(sm) {
      text-align: right;

      ul {
        flex-direction: row;
        justify-content: flex-end;
      }
    }
  }
}

/* Mobile Menu */
.mobile-nav {
  display: block;
  background: rgba(250, 250, 254, .95);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  overflow: auto;
  @include animateEaseIn(0.2s);
  transform: translateX(-100%);
  
  &.open {
	  transform: translateX(0);
	  
	  .mobile-nav-inner {
		  ul li {		
			-webkit-transform: translateX(0%);
			transform: translateX(0%);
			opacity: 1;
			
			&:nth-child(1){
				-webkit-transition-delay: 0.1s;
				transition-delay: 0.1s;
			}
			&:nth-child(2){
				-webkit-transition-delay: 0.15s;
				transition-delay: 0.15s;
			}
			&:nth-child(3){
				-webkit-transition-delay: 0.2s;
				transition-delay: 0.2s;
			}
			&:nth-child(4){
				-webkit-transition-delay: 0.25s;
				transition-delay: 0.25s;
			}
			&:nth-child(5){
				-webkit-transition-delay: 0.3s;
				transition-delay: 0.3s;
			}
		  }
	  }
	  
	  .mobile-nav__close {
		  -webkit-transform: translateY(0%);
			transform: translateY(0%);
			opacity: .6;
			-webkit-transition-delay: 0.3s;
			transition-delay: 0.3s;
	  }
  }
  
  .mobile-nav__close {
	  width: 50px;
	  height: 50px;
	  position: absolute;
	  right: 15px;
	  top: 15px;
	  text-align: center;
	  -webkit-transform: translateY(-100%);
		transform: translateY(-100%);
		opacity: 0;
		transition: opacity .5s, -webkit-transform .5s;
		transition: opacity .5s, transform .5s;
	  
	  .svg-close {
		  margin-top: 10px;
		  width: 30px;
		  height: 30px;
	  }
  }
  
  .mobile-nav-inner {
	  position: absolute;
	  left: 0;
	  right: 0;
	  top: 50%;	  
	  transform: translateY(-50%);	  
  
	ul {
		margin: 0;
		padding: 0;
		
		li {
			margin: 0;
			padding: 5px 50px;
			-webkit-transform: translateX(-100%);
			transform: translateX(-100%);
			opacity: 0;
			transition: opacity .5s, -webkit-transform .5s;
			transition: opacity .5s, transform .5s;
		}
		
		a {
			padding: 10px 0px;
			display: inline-block;
			font-size: 44px;
			font-weight: 300;
			color: #000;
			position: relative;
			@include animateEaseIn(0.2s);
			
			&:hover {
				color: #a757e8;
			}
		}
	}
  }

  @include media_min(lg){
    display: none;
  }
}