/* old css  start*/
/* 
*[data-animate="fadeInUp"] {
    opacity: 0;
  }
  
  *[data-animate="fadeIn"] {
    opacity: 0;
  }
  
  *[data-animate="slideInLeft"] {
    transform: translate3d(-150%, 0, 0);
  }
  
  *[data-animate="slideInRight"] {
    transform: translate3d(150%, 0, 0);
  }
  
  *[data-animate="slideInUp"] {
    transform: translate3d(0, 100%, 0);
  }
   */
  @media (min-width: 1470px) {
    .container {
      max-width: 1430px;
    }
    .container-1600 {
      max-width: 1600px;
    }
  }
  
  #main {
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  
  #content {
    min-height: 760px;
  }
  
  .header-style-1 {
    padding-top: 120px;
    padding-bottom: 25px;
    position: relative;
    background: #db76b6;
    background: linear-gradient(to right, #db76b6 0%, #7873f5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$start', endColorstr='$end',GradientType=1 );
  }
  
  @media (min-width: 768px) {
    .header-style-1 {
      padding-top: 180px;
      min-height: 700px;
    }
  }
  
  @media (min-width: 992px) {
    .header-style-1 {
      padding-top: 230px;
      padding-bottom: 100px;
      min-height: 700px;
    }
  }
  
  @media (min-width: 1921px) {
    .header-style-1 {
      min-height: 1000px;
    }
  }
  
  @media (min-width: 2100px) {
    .header-style-1 {
      min-height: 1070px;
    }
  }
  
  @media (min-width: 2300px) {
    .header-style-1 {
      min-height: 1200px;
    }
  }
  
  .header-style-1 .container-fluid {
    position: relative;
    z-index: 1;
  }
  
  .header-style-1:before {
    content: '';
    background: url(../img/svg/hshape.svg) center bottom no-repeat;
    background-size: 100%;
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    height: 100%;
    z-index: 0;
  }
  
  @media (max-width: 991px) {
    .header-style-1:before {
      background-size: 200%;
    }
  }
  
  @media (max-width: 767px) {
    .header-style-1:before {
      background-size: 320%;
    }
  }
  
  @media (min-width: 992px) and (max-width: 1199px) {
    .header-style-1:before {
      background-size: 120%;
    }
  }
  
  .header-style-1 .header__title {
    position: relative;
    padding-top: 40px;
  }
  
  .header-style-1 .header__title h1 {
    margin-bottom: 40px;
    font-size: 50px;
    font-weight: 500;
    color: #000000;
  }
  
  .header-style-1 .header__title h3 {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 20px;
    font-weight: bold;
    color: #3e58b7;
    opacity: .5;
  }
  
  @media (max-width: 1199px) {
    .header-style-1 .header__title h1 {
      font-size: 34px;
    }
    .header-style-1 .header__title h3 {
      font-size: 22px;
    }
  }
  
  @media (max-width: 991px) {
    .header-style-1 .header__title h1 {
      font-size: 30px;
      margin-bottom: 20px;
    }
    .header-style-1 .header__title h3 {
      font-size: 18px;
    }
  }
  
  @media (max-width: 767px) {
    .header-style-1 .header__title h1 {
      font-size: 24px;
      margin-bottom: 20px;
    }
    .header-style-1 .header__title h3 {
      font-size: 18px;
    }
  }
  
  .header-style-1.inner-title {
    padding-top: 35%;
    padding-bottom: 35%;
  }
  
  @media (min-width: 768px) {
    .header-style-1.inner-title {
      padding: 25% 25px;
      min-height: auto;
    }
  }
  
  @media (min-width: 992px) {
    .header-style-1.inner-title {
      padding-top: 15%;
    }
  }
  
  @media (min-width: 1200px) {
    .header-style-1.inner-title {
      padding-bottom: 20%;
    }
  }
  
  .header-style-1.inner-title:before {
    background: url(../img/svg/hwave.svg) center bottom no-repeat;
  }
  
  @media (max-width: 767px) {
    .header-style-1.inner-title:before {
      background-size: 150%;
    }
  }
  
  .header-style-1.inner-title .header__title {
    margin-top: 0px;
    padding-top: 30px;
  }
  
  .header-style-1.inner-title .header__title h1,
  .header-style-1.inner-title .header__title .title {
    margin-bottom: 20px;
    font-size: 72px;
    font-weight: 600;
    color: #fff;
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
  }
  
  .header-style-1.inner-title .header__title h3 {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 20px;
    font-weight: bold;
    color: #3e58b7;
    opacity: .5;
  }
  
  @media (max-width: 767px) {
    .header-style-1.inner-title .header__title h3 {
      font-size: 15px;
    }
  }
  
  @media (max-width: 1199px) {
    .header-style-1.inner-title .header__title h1,
    .header-style-1.inner-title .header__title .title {
      font-size: 52px;
    }
  }
  
  @media (max-width: 991px) {
    .header-style-1.inner-title .header__title h1,
    .header-style-1.inner-title .header__title .title {
      font-size: 32px;
    }
  }
  
  .header-style-1.inner-title .header__desc {
    font-size: 22px;
    font-weight: 400;
    color: #000;
    opacity: .7;
  }
  
  @media (max-width: 991px) {
    .header-style-1.inner-title .header__desc {
      font-size: 18px;
    }
  }
  
  @media (min-width: 768px) {
    .header-style-1 {
      padding-left: 90px;
      padding-right: 90px;
    }
  }
  
  .header-style-2 h3 {
    padding: 0 0 40px;
    margin: 0 0 30px;
    position: relative;
    font-size: 50px;
    font-weight: 300;
    line-height: 1.3;
  }
  
  .header-style-2 h3 span {
    display: block;
    font-size: 40px;
  }
  
  .header-style-2 h3:after {
    content: '';
    position: absolute;
    background: #cdc2ea;
    display: block;
    width: 94px;
    height: 8px;
    left: 0;
    bottom: 0;
    border-radius: 5px;
  }
  
  .header-style-2.text-center {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .header-style-2.text-center h3:after {
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  
  .header-style-2.text-right h3:after {
    left: auto;
    right: 0;
  }
  
  .header-style-2 p {
    padding: 0;
    margin: 0 0 30px;
    font-size: 18px;
    line-height: 30px;
    color: #8783a2;
  }
  
  @media (max-width: 1399px) {
    .header-style-2 h3 {
      font-size: 35px;
    }
    .header-style-2 h3 span {
      font-size: 22px;
    }
    .header-style-2 p {
      font-size: 16px;
      line-height: 28px;
    }
  }
  
  @media (max-width: 991px) {
    .header-style-2 h3 {
      margin-bottom: 25px;
      padding-bottom: 15px;
      font-size: 32px;
    }
    .header-style-2 h3 span {
      font-size: 22px;
    }
    .header-style-2 h3:after {
      width: 75px;
      height: 5px;
    }
    .header-style-2 p {
      font-size: 14px;
      line-height: 24px;
    }
  }
  
  @media (max-width: 767px) {
    .header-style-2 h3 {
      margin-bottom: 25px;
      padding-bottom: 25px;
      font-size: 22px;
    }
    .header-style-2 h3 span {
      font-size: 22px;
    }
    .header-style-2 h3:after {
      width: 75px;
      height: 5px;
    }
    .header-style-2 p {
      font-size: 14px;
      line-height: 24px;
    }
  }
  
.button {
    padding: 15px 30px;
    display: inline-block;
    color: #fefeff;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.3;
    letter-spacing: 0.25px;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    border-radius: 25px;
    background: #209cff;
    background-image: linear-gradient(45deg, #209cff 0%, #68e0cf 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#209cff', endColorstr='#68e0cf',GradientType=1 );
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.3);
    transition: all 0.2s ease-in-out;
  }
  
  .button:hover {
    text-decoration: none;
    color: #fff;
    background: #68e0cf;
    background: linear-gradient(45deg, #68e0cf 0%, #209cff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#68e0cf', endColorstr='#209cff',GradientType=1 );
  }
  
.feature-section {
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
  }
  
  @media (min-width: 992px) {
    .feature-section {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }
  
  .feature-section .scene {
    position: absolute;
    right: 0;
    top: 30%;
    display: none;
  }
  
  @media (min-width: 992px) {
    .feature-section .scene {
      display: block;
      max-width: 1200px;
      height: 800px;
    }
  }
  
  .feature-section .feature-items {
    padding-top: 0;
    padding-bottom: 0;
  }
  
  @media (min-width: 992px) {
    .feature-section .feature-items {
      padding-top: 25px;
      padding-bottom: 25px;
    }
  }
  
  @media (min-width: 1200px) {
    .feature-section .feature-items {
      padding-top: 250px;
      padding-bottom: 250px;
    }
  }
  
  .feature-section .feature-items .col-12:nth-child(1) .feature-item {
    /* animation-delay: 0.05s; */
  }
  
  .feature-section .feature-items .col-12:nth-child(2) .feature-item {
    animation-delay: 0.15s;
  }
  
  .feature-section .feature-items .col-12:nth-child(3) .feature-item {
    animation-delay: 0.25s;
  }
  
  .feature-section .feature-items .col-12:nth-child(4) .feature-item {
    animation-delay: 0.35s;
  }
  
  .feature-section .feature-items .feature-item {
    padding: 25px;
    text-align: center;
    height: 100%;
    background: #fff;
    color: #000;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.08);
    transition: all 0.2s ease-in-out;
    overflow: hidden;
    position: relative;
  }
  
  @media (max-width: 991px) {
    .feature-section .feature-items .feature-item {
      padding-bottom: 0;
    }
  }
  
  @media (min-width: 992px) {
    .feature-section .feature-items .feature-item {
      box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    }
  }
  
  .feature-section .feature-items .feature-item:before {
    content: '';
    position: absolute;
    z-index: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    background: #ef7423;
    /* background: linear-gradient(to bottom, #9b23ea 0%, #5f71bd 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9b23ea', endColorstr='#5f71bd',GradientType=0 ); */
    transition: all 0.2s ease-in-out;
  }
  
  .feature-section .feature-items .feature-item:hover:before {
    opacity: 1;
    visibility: visible;
  }
  
  .feature-section .feature-items .feature-item .thumb, .feature-section .feature-items .feature-item h4, .feature-section .feature-items .feature-item p {
    position: relative;
    z-index: 1;
  }

  .feature-section .feature-items .feature-item .thumb {
    display: block;
    width: 110px;
    height: 110px;
    margin: 25px auto;
    padding: 15px;
    position: relative;
    background: #fff;
    opacity: 1;
    border-radius: 50%;
  }
  
  @media (max-width: 991px) {
    .feature-section .feature-items .feature-item .thumb {
      margin-top: 0;
      margin-bottom: 20px;
      padding-top: 0;
    }
  }
  
  .feature-section .feature-items .feature-item .thumb img,
  .feature-section .feature-items .feature-item .thumb svg {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 3;
    color: #9c2fe9;
    fill: currentColor;
    transition: all 0.4s ease-in-out;
  }
  
  .feature-section .feature-items .feature-item .thumb:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 50%;
  }
  
  .feature-section .feature-items .feature-item .thumb:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: url(../img/svg/fround.svg) center no-repeat;
    transform: scale(1.4);
    transition: all 0.4s ease-in-out;
  }
  
  .feature-section .feature-items .feature-item h4 {
    padding: 20px 0 0px;
    font-size: 24px;
    font-weight: 500;
    color: #000;
    margin-bottom: 0;
  }
  
  @media (max-width: 991px) {
    .feature-section .feature-items .feature-item h4 {
      font-size: 18px;
    }
  }
  
  .feature-section .feature-items .feature-item p {
    padding: 15px 0;
    font-size: 16px;
    line-height: 1.4;
    font-weight: 300;
    color: #686868;
  }
  
  @media (max-width: 991px) {
    .feature-section .feature-items .feature-item p {
      padding-top: 5px;
      font-size: 14px;
    }
  }
  
  .feature-section .feature-items .feature-item:hover {
    color: #fff;
  }
  
  .feature-section .feature-items .feature-item:hover .thumb {
    background: transparent;
    transform: scale(1.5);
  }
  
  .feature-section .feature-items .feature-item:hover .thumb:before {
    opacity: 0;
  }
  
  .feature-section .feature-items .feature-item:hover .thumb:after {
    left: 100%;
    top: -100%;
    transform: scale(6);
    opacity: .5;
  }
  
  .feature-section .feature-items .feature-item:hover .thumb svg {
    color: rgba(255, 255, 255, 0.7);
  }
  
  .feature-section .feature-items .feature-item:hover h4 {
    color: #fff;
  }
  
  .feature-section .feature-items .feature-item:hover p {
    color: #fff;
  }
/* old css end */

/* New CSS start */
.title_heading,.h1{
    font-size: 66px;
    line-height: 1.2;
    color:#fefefe;
}

.header-style-1{
    background: url(../img/new-images/top.png) no-repeat center / cover;
    min-height: 103vh;
}
@media (min-width: 992px){
.header-style-1 {
    padding-top: 130px;
    padding-bottom: 0px;
}
}
.header-style-1:before{
    display: none;   
}
#header .phone{
    font-size: 20px;
    font-weight: 500;
    margin-top: 0%;
    -ms-flex-item-align: end;
    align-self: flex-end;
}
.button{
    background: #ff0988;
    -webkit-box-shadow: 0px 3px 8px rgb(0 0 0 / 12%);
    -moz-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 3px 8px rgb(0 0 0 / 12%);

}
.button:focus{
  outline: none;
}
.button:hover{
    background: #521e92;
    outline: none;
}
.header-style-1 .header__title h1{
    color:#fff;
    margin-bottom: 25px;
}
.header__desc{
    margin-bottom: 25px;
    font-size: 24px;
    line-height: 1.6;
    color:#fff;
}
.section-card li{
    width: 200px;
    height: 200px;
    box-shadow: 0px 0px 16px rgb(188 188 188 / 60%);
    border-radius: 7px;
    background-color: #fff;
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.section-card li .section-card-title{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.3;
    margin-top: 15px;
    text-transform: uppercase;
}
.section-card li:nth-child(even) {
    margin-left: 130px;
}

.section-card li:first-child {
    margin-top: 50px;
    margin-bottom: 50px;
}
.section-card li:last-child {
    margin-top: -50px;
}
.bg-svg-path{
    position: absolute; 
    z-index: 0;
    left:115px;
    max-width: 90%;
    top: -50px;
}
.section-one,.section-three{
    padding-top: 110px;
    margin-top: 110px;
    position: relative;
    z-index: 1;
}
.section-one:after,.section-one:before{
    background: url(../img/new-images/bg-dot.png);
    display: block;
    position: absolute;
    content: "";
    width: 260px;
    height: 520px;
    top: -150px;
    right: 30px;
    background-size: contain;
}
.section-one .section-one-left:before{
    background: url(../img/new-images/bg-dot.png);
    display: block;
    position: absolute;
    content: "";
    top: auto;
    bottom: -95px;
    right: auto;
    left: -144px;
    width: 220px;
    height: 440px;
    background-size: contain;
}
.curved-section:before{
    background: url(../img/new-images/curve-bg.png);
    width: 100%;
    height: 470px;
    content: "";
    display: block;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.section-two{margin-top: -100px; }
.section-two-inner{    
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e2f6ff), to(white));    
    background-image: -o-linear-gradient(#e2f6ff, white);    
    background-image: linear-gradient(#e2f6ff, white);
}
@media (min-width: 1470px){
.container {
    max-width: 1140px;
}
}
.section-one .section-one-right{
    padding-left: 90px;
}
.section-two-right-img{
    background: linear-gradient(to top, #ec77ab, #7873f5);
  padding: 3px;
  border-radius: 10px;
    overflow: hidden;
}
.section-two-right-img>img{
    border-radius: 10px;
    overflow: hidden;
}
.lns-parts{
    background: url(../img/new-images/divya-chakra.png) no-repeat center/87%;
    padding-top:100px;
    margin-top: 100px;
    padding-bottom:100px;
}
section{
  padding-top:100px;
}
.container.container-large {
  max-width: 1600px;
}
.bubble {
    position: relative;
    font-size: 14px;
    line-height: 1.3;
    width: 245px;
    height: 245px;
    background: #fff;
    border-radius: 100%;
    padding: 24px;
    text-align: center;
    color: #686868;
    border: 1px solid #32bfea;
  }
  .bubble:hover{
    color:#fff;
  }
  .bubble:hover{
    background-color: #32bfea;
  }
  .bubble-title{
      font-size: 18px;
      line-height: 1.3;
      text-transform: uppercase;
      margin:10px 0;
      color:#212529;
      font-weight: 500;
      transition: 0.2s ease all;
  }
  .bubble:hover .bubble-title{
    color:#fff;
  }
  .lns-parts:before,.lns-parts:after{
    background: url(../img/new-images/bg-dot.png);
    display: block;
    position: absolute;
    content: "";
    top: 150px;
    left: 10%;
    width: 200px;
    height: 190px;
    background-size: contain;
  }
  .lns-parts:after{   
    top: 370px;
    left: auto;
    right:5%;   
  }
  .lns-parts-left{
    margin-top: -75px;
    padding-bottom: 75px;
  }
  .section-four:before{
    background-image: url(../img/new-images/curve-bg-light.png);
    height: 320px;
  }
  .section-four:after{
    background: url(../img/new-images/bg-dot.png);
    display: block;
    position: absolute;
    content: "";
    top: -270px;
    left: auto;
    width: 200px;
    height: 340px;
    background-size: contain;
    right: -50px;
    z-index: -1;
  }
  .section-four {
    margin-top: -130px;
}
.section-four-inner{
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff1e6), to(white));    
    background-image: -o-linear-gradient(#fff1e6, white);    
    background-image: linear-gradient(#fff1e6, white);
}

/* feature section start */
.feature-section .feature-items{
    padding: 0;
}
.feature-section .feature-items .feature-item .thumb {
    width: 80px;
    height: 80px;
    padding: 12px;
    border: 7px solid #ebe4f2;
    margin:0;
    transition: 0.2s ease all;
}
.thumb-container:before,.thumb-container:after {
    content: "";
    width: 100px;
    height: 100px;
    background: #f1edf6;
    display: block;
    z-index: 1;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 100%;
}
.feature-item:hover .thumb-container:before,.feature-item:hover .thumb-container:after{
  opacity: 0;
}
.feature-item:hover .thumb-container .thumb{
  border-color: transparent;
  background-color:transparent;
}

.thumb-container:after {
    width: 120px;
    height: 120px;
    background: #f8f6fb;
    z-index: 0;
}
.thumb-container {
    position: relative;
    padding: 25px;
    display: inline-block;
}
.feature-section .feature-items .feature-item .thumb:after{
    background: url(../img/svg/fround.svg);
}

/* Feature section CSS end  */

.bubble.bubble-bottom-right:after, .bubble.bubble-bottom-right:before,
.bubble.bubble-bottom-left:after, .bubble.bubble-bottom-left:before {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 70px solid #32bfea;
  content: "";
  bottom: -19px;
  right: -15px;
  position: absolute;
  transform: rotate(
-45deg);
}
.bubble.bubble-bottom-left:after{
  right: auto;
  bottom: -16px;
  border-top-color: #fff;
  z-index: 1;
  left: -7px;
  transform: rotate( 
45deg);
}
.bubble.bubble-bottom-right:before {
  right: -11px;
  bottom: -15px;
  border-top-color: #fff;
  z-index: 1;
}
.bubble.bubble-bottom-left:before {
  right: auto;
  bottom: -21px;
  z-index: 1;
  left: -12px;
  transform: rotate(
45deg);
}
.bubble.bubble-bottom-right:hover:before{
  border-top-color:#32bfea ;
}
.bubble.bubble-bottom-left:hover:after{
  border-top-color:#32bfea ;
}
.ce-list{
  list-style-type:none;
  padding-left: 0;
  font-size: 18px;
  line-height: 30px;
  margin-top: 60px;
  color: #8783a2;
}
.ce-list li+li{
  margin-top: 30px;
}
.ce-list-no{
  background: -webkit-linear-gradient( #7c73f2 , #e877ae );
  -webkit-background-clip: text;
  -webkit-text-stroke: 5px transparent;
  color: #ffffff;
  font-size: 50px;
  line-height: 1;
}
.ce-list-title{
  font-size: 24px;
  color:#212529;
  text-transform: uppercase;
}

.customer-experice-section {
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
}

.customer-experice-section:after {
  content: "";
  position: absolute;
  width: calc(50% - 110px);
  height: calc(100% - 110px);
  right: -10%;
  top: 110px;
  background: linear-gradient(#fff, #fff) padding-box, linear-gradient(to right, #ffebdb 5%,#fffaf6 40%, white 100%) border-box;
  border-radius: 100%;
  border: 60px solid transparent;
  max-width: 900px;
  max-height: 900px;
}

.ce-list-right {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  position: relative;
  z-index: 2;
  padding-left: 26%;
}
.ce-list-right li{
  display: flex;
    align-items: center;
    flex-direction: column;
}
.ce-list-right li:first-child{
  margin-top: -50px;
}
.ce-list-right li:last-child{
  margin-bottom: -50px;
}
.ce-list-right-thumb {
  width: 200px;
  height: 200px;
  background-image: linear-gradient(
-25deg, #b87cd6 30%, #648afa );
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 35px;
  position: relative;
}
.ce-list-right-thumb:before {
  position: absolute;
  width: 90%;
  height: 90%;
  content: "";
  border: 3px solid #fff;
  border-radius: 100%;
}
.ce-list-right-text {
  font-size: 24px;
  line-height: 1.3;
  text-align: center;
  text-transform: uppercase;
}
.ce-list-right-text>span{
  font-weight: bold;
  display: block;
}
.section-pos:before{
  background-image: url(../img/new-images/curve-bg-light-green.png);
}
.section-pos-inner{
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f0ffe1), to(white));
  background-image: -o-linear-gradient(#f0ffe1, white);
  background-image: linear-gradient(#f0ffe1, white);
}
/* New CSS End */