.button {
  padding: 15px 30px;
  display: inline-block;
  color: #fefeff;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: 0.25px;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 0px 3px 3px rgba(0,0,0,.2);
  cursor: pointer;  
  @include border-radius(25px);  
  background: #209cff;
  background-image: -moz-linear-gradient(45deg,  #209cff 0%, #68e0cf 100%);
  background-image: -webkit-linear-gradient(45deg,  #209cff 0%,#68e0cf 100%);
  background-image: linear-gradient(45deg,  #209cff 0%,#68e0cf 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#209cff', endColorstr='#68e0cf',GradientType=1 );  
  box-shadow: 0px 3px 7px rgba(0, 0, 0, .3);
  @include animateEaseIn(0.2s);
  
  &:hover {
    text-decoration: none;
    color: #fff;
    background: #68e0cf;
    background: -moz-linear-gradient(45deg,  #68e0cf 0%, #209cff 100%);
    background: -webkit-linear-gradient(45deg,  #68e0cf 0%,#209cff 100%);
    background: linear-gradient(45deg,  #68e0cf 0%,#209cff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#68e0cf', endColorstr='#209cff',GradientType=1 );
  }  
}